/* ===========================================================
 *
 *  Name:          selectordie_dev.css
 *  Updated:       2014-10-10
 *  Created by:    Per V @ Vst.mn
 *  What?:         Base CSS for Select or Die
 *
 *  Copyright (c) 2014 Per Vestman
 *  Dual licensed under the MIT and GPL licenses.
 *
 *  No, I don't usually comment my CSS, but in this
 *  case it might "help" someone.
 *
 *  Oddny | Cogs 'n Kegs
 * =========================================================== */

/* Remove, change to fit your needs */
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

.sod_select,
.sod_select *
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
     -webkit-touch-callout: none;
       -webkit-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none;
    }

/* The SoD - Please keep this first three lines intact, otherwise all hell will break looooooose */
.sod_select
    {
        display: inline-block;
        position: relative;
        line-height: 1.3;
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px 10px;
        border: 1px solid #eeeeee;
        background: #ffffff;
        font-family: 'Georgia', serif;
        font-size: 18px !important;
        font-weight: 300;
        text-align: left;
        text-transform: none;
        outline: 0;
        outline-offset: -2px; /* Opera */
        cursor: default;
        color: #1188ca;
        background-image: url('../images/icons/dropdown-arrow.png');
        background-repeat: no-repeat;
        background-position: 165px 50%; 
    }

.sod_select2
    {
        display: inline-block;
        position: relative;
        line-height: 1.3;
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px 10px;
        border: 1px solid #eeeeee;
        background: #ffffff;
        font-family: 'Georgia', serif;
        font-size: 18px !important;
        font-weight: 300;
        text-align: left;
        text-transform: none;
        outline: 0;
        outline-offset: -2px; /* Opera */
        cursor: default;
        color: #1188ca;
        background-image: url('../images/icons/dropdown-arrow-up.png');
        background-repeat: no-repeat;
        background-position: 165px 50%; 
    }

    /* Up/Down arrows 
    .sod_select:before,
    .sod_select:after
        {
            content: "\25B2";
            position: absolute;
            right: 10px;
            top: 12px;
            font-size: 7px;
        }

        /* Down arrow 
        .sod_select:after
            {
                content: "\25BC";
                top: auto;
                bottom: 12px;
            }*/

    /* Change the border color on hover, focus and when open */
    .sod_select:hover,
    .sod_select.open,
    .sod_select.focus { 
    border: 1px solid #eeeeee; }

        .sod_select.open { color: #1188ca; }
        .sod_select.focus { border: 1px solid #eeeeee; }

    /* When the entire SoD is disabled, go crazy! */
    .sod_select.disabled
        {
            border-color: #828282;
            color: #b2b2b2;
            cursor: not-allowed;
        }

    /* The "label", or whatever we should call it. Keep the first three lines for truncating. */
    .sod_select .sod_label
        {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            padding-right: 15px;
        }

        .sod_select .sod_prefix { /* Use this if you're using a prefix and want to style it */ }
        .sod_select .sod_placeholder { /* Use this if you're using a placeholder and want to style it */ }



    /* Options list wrapper */
    .sod_select .sod_list_wrapper
        {
            position: absolute;
            top: 100%;
            right: 0;
            display: none;
            height: auto;
            width: 200px;
            margin: 0 0 0 -1px;
            background: #ffffff;
            box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
            -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
            -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
            border-top: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
            border-left: 1px solid #eeeeee;
            border-top: none;
            color: #333;
            font-weight: 300;
            z-index: 1;
            font-family: 'Georgia', serif;
            font-size: 16px !important;
            line-height: 1;
        }

        /* Shows the option list (don't edit) */
        .sod_select.open .sod_list_wrapper { display: block;  }

        /* Don't display the options when  */
        .sod_select.disabled.open .sod_list_wrapper { display: none;  }

        /* When the option list is displayed above the SoD */
        .sod_select.above .sod_list_wrapper
            {
                top: 100%;
                bottom: auto;
                box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
                -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
                -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
                border-top: none;
                border-right: 1px solid #eeeeee;
                border-left: 1px solid #eeeeee;
                border-bottom: 1px solid #eeeeee;
            }

    /* Options list container */
    .sod_select .sod_list
        {
            display: block;
            overflow-y: auto;
            padding: 0;
            margin: 0;
        }

        /* All the options. Keep the first three lines for truncating... */
        .sod_select .sod_option
            {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                position: relative;
                padding: 10px 10px;
                list-style-type: none;
            }

            /* Optgroups */
            .sod_select .sod_option.optgroup,
            .sod_select .sod_option.optgroup.disabled
                {
                    background: inherit;
                    color: #939393;
                    font-size: 10px;
                    font-style: italic;
                }

                /* Children of an optgroup */
                .sod_select .sod_option.groupchild { padding-left: 20px; }

            /* Used together with placeholderOption / data-placeholder-option */
            .sod_select .sod_option.is-placeholder {
                display: none;
            }

            /* Disabled option */
            .sod_select .sod_option.disabled
                {
                    background: inherit;
                    color: #cccccc;
                }

            /* Hover state for options, also used when a user uses his/hers up/down keys */
            .sod_select .sod_option.active
                {
                    text-decoration: underline;
                    color: #333333;
                    cursor: pointer;
                }

            /*Make room for the check mark */
            .sod_select .sod_option.selected
                {
                    font-weight: 300;
                    padding-right: 25px;
                }

                /* Displays a check mark for the selected option */
                .sod_select .sod_option.selected:before
                    {
                        content: "";
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                        display: inline-block;
                        color: #808080;
                        height: 9px;
                        width: 10px;
                         }

                /* Add a .no_highlight class to you SoD to hide the check mark and don't bold the option */
                .sod_select.no_highlight .sod_option.selected { font-weight: 300; }
                .sod_select.no_highlight .sod_option.selected:before { display: none; }

            .sod_select .sod_option.link { /* If data-link is set on a specific option */ }
            .sod_select .sod_option.linkexternal { /* If data-link-external is set on a specific option */ }



    /* Hide native select */
    .sod_select select { display: none !important; }

        /* The native select in touch mode. Keep this first line. Sorry, keep everything. */
        .sod_select.touch select
            {
                -webkit-appearance: menulist-button;

                position: absolute;
                top: 0;
                left: 0;
                display: block !important;
                height: 100%;
                width: 100%;
                opacity: 0;
                z-index: 1;
            }

@media only screen and (max-width: 480px) {
    .sod_select {
        width: 290px !important;
        background-position: 245px 50%; 
    }
    .sod_select2 {
        width: 290px !important;
        background-position: 245px 50%; 
    }
    .sod_select .sod_list_wrapper {
        width: 290px !important;
    }
}
