@font-face {
    font-family: 'Nexa Rust';
    src: url('../fonts/NexaRustScript.eot');
    src: url('../fonts/NexaRustScript.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaRustScript.woff') format('woff'),
         url('../fonts/NexaRustScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}  
/*
@font-face {
    font-family: 'Bodoni';
    src: url('../fonts/BodoniRoman.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni';
    src: url('../fonts/Bodoni-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}*/

body {
	background: #ffffff;
	font-family: 'Lato', 'Arial', sans-serif !important;
	font-size: 16px !important;
}

ul {
	margin-left:0px;
}

p {
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 16px;
}  

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/** Links **/
a {
-webkit-transition: all 0.25s linear;
	   -moz-transition: all 0.25s linear;
	    -ms-transition: all 0.25s linear;
	     -o-transition: all 0.25s linear;
	        transition: all 0.25s linear;	
}

a:hover {
-webkit-transition: all 0.25s linear;
	   -moz-transition: all 0.25s linear;
	    -ms-transition: all 0.25s linear;
	     -o-transition: all 0.25s linear;
	        transition: all 0.25s linear;	
	text-decoration: none;
}

/** Typography **/
h2 {
	text-transform: uppercase;
	color: #1188ca;
	font-family: 'Georgia Regular', serif;
	font-size: 26px;
	font-weight: normal;
}

h6 {
	text-transform: uppercase;
	color: #163d8f;
	font-family: 'Bodoni','Georgia', serif;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}


/** Header **/
.header-border {
	height: 8px;
	width: 100%;
	background: url('../images/header-border.jpg') repeat-x top left;
}

.top-header {
	background: url('../images/header-bg.jpg') repeat-x;
	padding: 15px 0;
}

.cart-btn {
	padding: 10px 14px 10px 44px;
	margin-top: 2px;
	font-size: 16px;
	font-family: 'Lato';
	border-radius: 2px;
	border: none;
	color: #fff !important;
	background: #eb9219 url('../images/cart.png') no-repeat 10px center;
	-webkit-transition: background-color 0.25s linear;
	   -moz-transition: background-color 0.25s linear;
	    -ms-transition: background-color 0.25s linear;
	     -o-transition: background-color 0.25s linear;
	        transition: background-color 0.25s linear;	
}

.cart-btn:hover {
	background-color: #dd8815;
	color: #fff !important;
	-webkit-transition: background-color 0.25s linear;
	   -moz-transition: background-color 0.25s linear;
	    -ms-transition: background-color 0.25s linear;
	     -o-transition: background-color 0.25s linear;
	        transition: background-color 0.25s linear;	
}

.cart-btn:visited {
	color: #fff !important;
}

.lower-header {
	background: url('../images/lower-header-bg.gif') repeat-x;
	border: 1px solid #736856;
	border-right-width: 0;
	border-left-width: 0;
	border-image: url("../images/border.png") 1 1 1 1 repeat;
	-moz-border-image: url("../images/border.png") 1 1 1 1 repeat;
	-webkit-border-image: url("../images/border.png") 1 1 1 1 repeat;
}

.logo {
	width: 280px;
}

.social {
	margin-bottom: 0;
	padding: 14px 0;
}

.social li {
	display: inline;
	list-style-type: none;
	padding-right: 15px;
}

.social a {
	color: #afc0da;
	font-size: 18px;
}

.social a:hover {
	color: #8191c4;
}

/** Nav **/
.nav.nav-pills {
	border-right: 1px solid #736856;
	border-left: 1px solid #736856;

	padding-left: 20px;
	padding-right: 20px;
}

.nav .divider img {
	padding-top: 18px;
}

.nav a {
	font-family: 'Georgia', serif;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	color: #030303;
}


.nav a:hover {
	color: #f28b16;
}

.nav li.active a {
	color: #e38d13 !important;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent !important;
}

.lower-header .nav>li>a {
	padding-right: 35px;
	background: url('../images/divider.png') no-repeat right center;
}

.lower-header .nav>li:last-child a{
	padding-right: 15px;
	background-image: none;
}

.top-header .currency {
	color: #032e6f !important;
	-webkit-border: none !important;
   	-moz-border: none !important;
    border: none !important;
	outline: 0;
	background: transparent;
	margin-top: 14px;
	margin-right: 10px;
}

.megamenu > .dropdown-menu {
	background: url('../images/lower-header-bg.gif') repeat;
	border: 1px solid #736856;
	border-image: url("../images/border.png") 1 1 1 1 repeat;
	-moz-border-image: url("../images/border.png") 1 1 1 1 repeat;
	-webkit-border-image: url("../images/border.png") 1 1 1 1 repeat;
	border-radius: 0px;
	left: -20px;
	padding-left: 20px;
	padding-right: 20px;
	top: 43px;
}

.dropdown-menu h3 {
	font-family: 'Georgia', serif;
	color: #1c1c1c;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 8px;
	margin-top: 0px;
}

.dropdown-menu a {
	text-transform: none !important;

}
.dropdown-menu {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.dropdown-menu .dropdown-list {
	padding-left: 0px;
}

.dropdown-menu .dropdown-list li {
	list-style-type: none;
	padding-bottom: 2px;
}

.dropdown .nav-heading a {
	background-image: none;
	padding-left: 0;
}

.dropdown.megamenu .dropdown-menu > .dropdown.megamenu  {
	width: 33.33333333%;
	padding-right: 15px;
	padding-left: 15px;
	float: left;	

}

.dropdown-menu li a {
	text-transform: none;
	font-size: 18px;
	padding-left: 15px;
	font-weight: 600;
	padding-bottom: 8px;
}

.dropdown-menu>li>a {
	padding-left: 0px !important;
}

.megamenu .dropdown-menu li > ul {
	padding-left: 0 !important;
	list-style-type: none;
}

.dropdown-menu .dropdown.megamenu li a {
	font-weight: 500 !important;
	background: url('../images/border-left.png') no-repeat 2px center;
	font-size: 14px;
}

.dropdown-menu .dropdown.megamenu li {
	padding-bottom: 4px;
}

/*.dropdown-menu .dropdown.megamenu:nth-child(1) {
	float:left;

}

.dropdown-menu .dropdown.megamenu:nth-child(2) {
	float: left;
}


.dropdown-menu .dropdown.megamenu:nth-child(3) {
	float: left;
}

.dropdown-menu .dropdown.megamenu:nth-child(4) {
	float: left;

}

.dropdown-menu .dropdown.megamenu:nth-child(5) {
	float: left;	
 
}

.dropdown-menu .dropdown.megamenu:nth-child(5) {
	float: left;	
}*/

.dropdown:hover .dropdown-menu {
    display: block;
      animation-name: slidenavAnimation;
  animation-duration:.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration:.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration:.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
 }
@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


 .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
 	background: transparent !important;
 }



.view-all {
	text-decoration: underline;
}

.view-all:hover {
	color: #f28b16 !important;
}

@media screen and (min-width: 768px) {

  .megamenu ul {
     padding-bottom:15px;
  }
  
  .megamenu > .dropdown-menu {
     min-width:800px;
  } 
  
}

.dropdown-md > .dropdown-menu {
    min-width:450px;
}

.dropdown-lg > .dropdown-menu {
    min-width:850px;
}

/** Mobile Menu **/
.mm-menu {
	background: #28639e !important;
}

.menu-btn {
	padding-top: 10px;
	margin-left: 10px;
	display: none;
}

#mobile-menu li.heading a {
	padding: 0;
}
.mm-menu h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

.mm-menu a h2 {
	color: #ffffff !important;

}

.mm-list a.mm-subopen {
	color: #ffffff !important;
}

.mm-list > li > a, .mm-list > li > span {
	font-family: 'Georgia';
	font-size: 16px;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	color: #d2dfeb !important;
}

.mm-list a.mm-subclose:before {
	margin-bottom: -4px !important;
}

.mm-list, .mm-list > li {
	border-bottom: 1px solid #155992;
}

.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
	border-bottom: 0px !important;
}

.mm-menu .mob-social {
	padding: 15px 20px 15px 20px;
}
.mm-menu .mob-social a{
	display: inline;
	color: #5094ce !important;
	font-size: 20px;
}

.mm-menu .mob-social a:hover {
	color: #5094ce;
}

.mm-menu .mob-social a:first-child {
	padding-left: 0px;
}

.mm-menu .cart-btn {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block !important;
    padding: 10px 14px 10px 44px;
}

.mm-menu .currency {
	color: #ffffff !important;
}
/** Slider **/
.slider {
	position: relative;
}

.text-container {
	width: 100%;
	height: 100%;
	position: relative;
}


.slider img {
	max-width: 100%;
	height: 100%;
	position: relative;
}

/** Find Tour **/
.find-tour {
	width: 100%;
	background: rgba(7,29,70,0.7);
	position: absolute;
	padding: 20px 0;
	z-index: 10;
	bottom: 0;
	left: 0;
	text-align: center;
}

.find-tour input {
	padding: 12px 12px;
	background: #ffffff url('../images/calendar.png') no-repeat 145px center;
	border: 1px solid #1d396d;
}

.find-tour input:first-child {
	margin-right: 8px;
} 


.find-btn:hover {
	border-color: #d98109;
}

.main-container {
	background: url('../images/bg_top.png'), url('../images/stripe.png');
	background-repeat: no-repeat, repeat;
	background-position:  top right, top left;
}


/** Datepickers **/
.datepicker {
	border-radius: 3px;
}

.datepicker th {
	color: #002055;
}

.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
	background: #0c67a9 !important;
	border: 0px;
	border-radius: 3px;
}
/** Reasons to Choose **/
.choose h1 {
	text-align: center;
	font-family: 'Bodoni', serif;
	color: #002055;
	margin-bottom: 40px;
	font-size: 50px;
}

.heading-flourish:first-child {
	padding-right: 20px;
}

.heading-flourish:last-child {
	padding-left: 20px;
}

.choose-wrapper {
	background: url('../images/paris-stamp.png') no-repeat left 90px;
}

.choose {
	padding-top: 60px;
}

.video-play {
	position: relative;
}


 .pause-btn {
 	position: absolute;
 	display: none;
	width: 48px;
	height: 48px;
	top: 50%;
  	left: 50%;
  	   -moz-transition: opacity 0.25s linear;
	    -ms-transition: opacity 0.25s linear;
	     -o-transition: opacity 0.25s linear;
	        transition: opacity 0.25s linear;
  	transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	-o-transform: translate(-50%, -50%);
	background: url('../images/pause.png') no-repeat;
	background-size: 48px 48px;
 }

.play-btn {
	position: absolute;
	width: 48px !important;
	height: 48px;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	-o-transform: translate(-50%, -50%);
	-webkit-transition: opacity 0.25s linear;
	   -moz-transition: opacity 0.25s linear;
	    -ms-transition: opacity 0.25s linear;
	     -o-transition: opacity 0.25s linear;
	        transition: opacity 0.25s linear;	
	background: url('../images/play.png') no-repeat;
	background-size: 48px 48px;

}

.play-btn:hover, .pause-btn:hover {
	opacity: 0.6;
	-webkit-transition: all 0.25s linear;
	   -moz-transition: all 0.25s linear;
	    -ms-transition: all 0.25s linear;
	     -o-transition: all 0.25s linear;
	        transition: all 0.25s linear;	
}


.video-content {
	display: inline-block;
}

.play-btn {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	-o-transform: translate(-50%, -50%);
	-webkit-transition: all 0.25s linear;
	   -moz-transition: all 0.25s linear;
	    -ms-transition: all 0.25s linear;
	     -o-transition: all 0.25s linear;
	        transition: all 0.25s linear;	
}

.play-btn:hover {
	opacity: 0.6;
	-webkit-transition: all 0.25s linear;
	   -moz-transition: all 0.25s linear;
	    -ms-transition: all 0.25s linear;
	     -o-transition: all 0.25s linear;
	        transition: all 0.25s linear;	
}

.choose p {
	font-style: italic;
	font-family: 'Georgia';
	font-size: 16px;
	color: #16191c;
	line-height: 1.5em;
	margin-bottom: 20px;
}

.choose h2 {
	text-transform: uppercase;
	color: #1188ca;
	font-family: 'Georgia Regular', serif;
	font-size: 28px;
	font-weight: normal;
	margin-top: 25px;
}

.video-wrapper {
	margin-bottom: 20px;
}

/** Trip Advisor Certificate **/
.rating h2 {
	color: #589442;
	font-size: 32px;
	font-weight: bold;
}
.trip-advisor {
	text-align: center;
	padding: 100px 0;
}

.ta {
	border-right: 1px solid #bbbbbb;
	padding-right: 40px;
	padding-left: 40px;
	float: left;
	height: 175px;
}

.ta:last-child {
	border-right: 0px;
}

.trip-advisor-reviews {
	padding-left: 10%;
	padding-right: 10%;
}

.trip-advisor-reviews h2 {
	color: #252525;
	font-size: 75px;
	font-weight: 600;
}

.trip-advisor-reviews p {
	text-transform: uppercase;	
	color: #686868;
	font-size: 24px;
}

.trip-advisor-reviews .ta-badge {
	float: left;
}

.trip-advisor-reviews .num-reviews {
	float: left;
	text-decoration: none !important;
}

.trip-advisor-reviews .average-rating {
	float: left;
}

.trip-advisor-reviews .average-rating .star-lrg {
	padding-bottom: 12px;
}

.thumbs-up {
	color: #589442 !important;
	margin-right: 10px;
}

.thumbs-up img {
	margin-top: -14px;
}

/** Featured Tours **/
.featured-tours {
	background: url('../images/blue-bg.jpg') repeat;
	padding: 40px 0 100px 0;
	position: relative;
}

.featured-tours .stamp {
	position: absolute;
	right: 40px;
	top: -108px;
}

h3 {
	color: #002055;
	font-family: 'Bodoni', 'Georgia', serif;
	font-size: 46px;
	margin-bottom: 30px;
}


.featured1, .featured2, .featured3, .featured4, .featured5 {
	-moz-transition: all 0.35s linear;
	-o-transition: all 0.35s linear;
	transition: all 0.35s linear;
	-webkit-transition: all 0.35s linear;	
}

.featured1:hover, .featured2:hover, .featured3:hover, .featured4:hover, .featured5:hover {
	-webkit-box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.2);
	box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.2);
	-moz-transition: all 0.35s linear;
	-o-transition: all 0.35s linear;
	transition: all 0.35s linear;
	-webkit-transition: all 0.35s linear;
}

.featured1 {
	height: 460px;
	position: relative;
}


.featured1 img {
	height: 100%;
}


.featured2 {
	height: 220px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.featured1 img, .featured2 img {
	width: 100%;
}

.featured2 .featured-label {
	padding: 10px;
	width: 100%;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	bottom: -85px;
	position: absolute;
	height: 133px;
}

.featured2 .featured-label:hover  {
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	bottom: 0px;
}

.featured-tour .featured-label h5 {
	margin-top: 0px;
	margin-bottom: 5px;
}

.featured-tour .featured-label h5 a {
	font-size: 26px !important;

}


.featured-label h5 {
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 5px;
	line-height: .8em;
}


.main-featured img, .featured img {
	max-width: 100%;

}

.price-badge {
	background: #ee9825;
	color: #ffffff;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
   	box-shadow: 0 0 0 4px #ee9825,  2px 1px 6px 4px rgba(0, 0, 0, 0.5);
	border: 2px dotted #ffffff;
  	margin: 10px;
	width: 80px;
	height: 80px;
	text-shadow: 2px 2px #e29123;
}

.price-badge.large-badge {
	width: 110px;
	height: 110px;
}

.price-badge.large-badge .price {
	top: 25px;

}

.price-badge.large-badge .amount {
	font-size: 48px;
}

.price-badge.large-badge .decimal {
	font-size: 26px;
	top: -.6em;

}

.price-badge.large-badge .euro {
	top: -1.4em;
	font-size: 16px;
}


.price-badge.large-badge .from {
	left: 38px;
	top: 18px;
	font-size: 16px;
}

.price {
	position: absolute;
	font-family: 'Bodoni';
	top: 22px;	
	left: 5px;
}

.from {
	position: absolute;
	top: 13px;
	left: 25px;
	font-size: 14px;
}

.amount {
	font-size: 34px;
	font-weight: bold;
	color: #ffffff;
}

.euro {
	font-size: 14px;
	padding-right: 2px;
	font-family: 'Arial';
	top: -1.2em;
	color: #ffffff;
	font-weight: normal;
}

.decimal {
	font-size: 18px;
	top: -.6em;
	font-weight: bold;
	color: #ffffff;
}

.featured-label {
	background: #ffffff;
	position: absolute;
	padding: 20px;
}

.featured-label h5 a {
	font-family: 'Bodoni', serif;
	font-weight: bold;
	color: #052f71;
	font-size: 28px;
	margin-bottom: 0px !important;
}

.featured-label h6 {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #1188ca;
	text-align: left;
	margin-bottom: 0px;
}

.featured-label p {
	font-size: 14px;
	margin-bottom: 0px;
}

.featured-label.large-label {
	left: 0;
	top: 180px;
	width: 250px;
}

/** Explore **/
.explore {
	padding-top: 60px;
	padding-bottom: 60px;
	
}

.border {
	background: url('../images/texture-border.png') center center; 
	height: 8px;
}

.swirl-right {
	padding-left: 10px;
}

.swirl-left {
	padding-right: 10px;
}

ul.sites {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 20px;
}

ul.sites li {
	padding-bottom: 2px;
}

ul.sites li a {
	color: #363535;
}

ul.sites li a:hover {
	text-decoration: underline;
}


.explore h4 {
	color: #0d91d8;
	font-family: 'Nexa Rust', serif;
	font-size: 32px;
	margin-bottom: 5px;
}

.explore h4 a:hover {
	text-decoration: none !important;
}

.map {
	background: url('../images/map-paris.png') no-repeat center center;
	width: 325px;
	height: 324px;
	margin-top: 80px;
}

/** Newsletter **/
.newsletter {
	text-align: center;
	padding: 100px 0;
	background: url('../images/footer-bg.jpg') no-repeat bottom center;
	background-attachment: fixed;
}

.newsletter .form-wrapper {
	margin-top: 40px;
	text-align: center;
}

.newsletter .btn {
	height: 41px;
}

.newsletter h3 {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 28px;
	margin-bottom: 10px;
}

.footer-social {
	margin-top: 80px;
	margin-bottom: 20px;
}

.privacy {
	color: #4d4d4d;
	font-size: 14px;
}

.privacy a {
	color: #4d4d4d;
	text-decoration: underline;
}

.footer-links a {
	color: #0661a2;
}

.footer-links li {
	padding-left: 15px;
	padding-right: 15px;
}

/** Buttons **/
.btn.orange-btn {
	background: url('../images/orange-grad.jpg') repeat-x;
	text-transform: uppercase;
	font-family: 'Georgia', serif; 	
	border: 1px solid #d98109;
	border-radius: 2px;
	margin-left: 8px;
}

.btn.orange-cart-btn {
	background: url('../images/orange-grad.jpg') repeat-x;	
	border: 1px solid #d98109;
	border-radius: 3px;
	margin-left: 8px 14px;
	font-size: 14px;
}

.btn.apply-btn {
	background: #e7eff6;	
	border: 0px;
	color: #333;
	border-radius: 3px;
	margin-left: 8px 14px !important;
	font-size: 14px;
	font-family: 'Georgia';
}

.btn.solid-blue-btn {
	background: #06a7eb;
	border: 1px solid #04a2e4;
	border-radius: 3px;
	-webkit-transition: background 0.25s linear;
   -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
     -o-transition: background 0.25s linear;
        transition: background 0.25s linear;	
}

.btn.solid-blue-btn:hover {
	background: #069bda;
	-webkit-transition: background 0.25s linear;
	   -moz-transition: background 0.25s linear;
	    -ms-transition: background 0.25s linear;
	     -o-transition: background 0.25s linear;
	        transition: background 0.25s linear;	
}

.btn.blue-btn {
	background: url(../images/blue-grad.jpg) repeat-x center center;
	color: #ffffff;
	border: 1px solid #189ce2;
	border-radius: 3px;
	padding: 8px 14px;
}

.btn.navy-btn {
	background: #223e81;
	background: -moz-linear-gradient(top,  #223e81 2%, #032f70 73%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#223e81), color-stop(73%,#032f70)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #223e81 2%,#032f70 73%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #223e81 2%,#032f70 73%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #223e81 2%,#032f70 73%); /* IE10+ */
	background: linear-gradient(to bottom,  #223e81 2%,#032f70 73%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223e81', endColorstr='#032f70',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	border: 1px solid #223e81;
	border-radius: 3px;
	padding: 8px 14px;

}

h3.cert {
	color: #579444;
	font-size: 30px;
	font-family: 'Georgia Regular', serif;
}

img {
	height: auto;
	max-width: 100%;
}

/** Striped Background for Inner Pages **/
.inner-page {
	background-image: url('../images/stripe-bg.jpg');
	background-repeat: repeat;
}

.margint10 {
	margin-top: 10px;
}

.margint20 {
	margin-top: 20px;
}

.marginb20 {
	margin-bottom: 20px;
}

.paddingl0 {
	padding-left: 0px;
}

.paddingr0 {
	padding-right: 0px;
}

.paddingl10 {
	padding-left: 10px;
}

.paddingr10 {
	padding-right: 10px;
}

.paddingl5 {
	padding-left: 5px;
}

.paddingr5 {
	padding-right: 5px;
}

.paddingr7 {
	padding-right: 7px;
}

.paddingl7 {
	padding-left: 7px;
}

/*** Customer Care section in Footer ***/

.phone {
	padding-right: 15px;
}

#booknow {
	background: #032f70;
	width: 100%;
	height: 0px;
	position: fixed;
	z-index: 300;
	bottom: 0;
	overflow: hidden;
	color:#fff;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
	-webkit-transition: all .7s ease-in-out;
}

#booknow p{
	margin-left:20px;
	font-size: 15px;
	text-align: center;
	padding-top: 12px;
}

#booknow a {
	color:#fff;
	text-decoration: underline;
}

#booknow.show {
	height: 48px;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
	-webkit-transition: all .7s ease-in-out;
}

/************ Breadcrumbs ******************/

.breadcrumbs {
	/*padding-top: 20px;*/
	padding-bottom: 0px;
}
.breadcrumbs span {
	color: #535353 !important;
}

.breadcrumbs span a {
	color: #535353 !important;
}

.breadcrumbs span a:hover {
	color: #163d8f !important;
}

.b-arrow {
	margin-top: -3px;
}

/*===========================================
=========== Tour List Tiles =================
============================================*/

.tile-listing-container {
	background: #fff;
	height: 380px;  
	margin-bottom: 20px;
	-webkit-box-shadow: 1px 3px 3px 0 #ebebeb;
	-moz-box-shadow: 1px 3px 3px 0 #ebebeb;
	box-shadow: 1px 3px 3px 0 #ebebeb;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

.tile-listing-container:hover {
	-webkit-box-shadow: 1px 3px 8px 0 #b6b6b6;
	-moz-box-shadow: 1px 3px 8px 0 #b6b6b6;
	box-shadow: 1px 3px 8px 0 #b6b6b6;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

.tile-listing-container h4 {
	font-size: 12px !important;
}

.tile-listing-container h3 {
	font-size: 20px !important;
}

.tile-listing-container .listing-details-container  {
	padding: 20px;
}

.tile-listing-container .tour-info {
	text-align: center;
}

.tile-listing-container h3 {
	padding-bottom: 15px;
}

.tile-listing-container p.tour-tile-info {
	color: #787878;
	/*margin-bottom: 15px;
	margin-top: 10px;*/
	position: absolute;
	bottom: 80px;
	left: 22px;
	right: 15px;
}

.tile-listing-container .listing-details-container {
	height: 220px;
}

.tile-listing-container .rating {
	text-align: left;
	position: absolute;
	/*bottom: 95px;*/
}

.tile-listing-container .reviews {
	text-align: left;
}

/*.tile-listing-container .price {
	position: relative;
	left: auto;
	top: auto;
}*/

.tile-listing-container .discount-price {
	font-family: 'Lato';
	font-weight: 600;
	position: absolute;
	bottom: 45px;	
}

.tile-listing-container .currency {
	color: #002055;
	font-weight: 600;
	font-family: 'Lato';
	font-size: 24px;
	line-height: 1em;
	position: absolute;
	bottom: 15px;	
}

/*.tile-listing-container .main-price {
	color: #002055;
	font-weight: 600;
	font-size: 28px;
	line-height: 1em;
}*/

.tile-listing-container .main-price {
	color: #002055;
	font-weight: 600;
	font-size: 28px;
	line-height: 1em;
	position: absolute;
	bottom: 12px;
	left: 35px;
}

.tile-listing-container .listing-rating {
	text-align: left;
	margin-bottom: 5px;	
}

.tile-listing-container .listing-img img {
	height: 150px
}

/*a.btn.btn-primary.btn-sm.cta-tile-btn {
	margin-top: 20px;
	margin-bottom: 0px;
	display: block !important;
	background-color: #1468ab;
}*/

a.btn.btn-primary.btn-sm.cta-tile-btn {
	position: absolute;
	bottom: 15px;
	display: block !important;
	background-color: #1468ab;
	right: 20px;
}

.filter-heading {
	background: #ed9319;
	padding: 12px 15px;
}

.filter-wrapper {
	background: #ffffff;
	border: 1px solid #ed9319;
	margin-bottom: 20px;
	-webkit-box-shadow: 1px 3px 3px 0 #e0e0df;
	-moz-box-shadow: 1px 3px 3px 0 #e0e0df;
	box-shadow: 1px 3px 3px 0 #e0e0df;
}

.filter-tours {
	background: #ffffff;
	border: 2px dotted #ed9319;
	padding: 15px;
	margin: 10px;

}

.filters {
	background: #ffffff;
	border: 1px solid #ed9319;
	padding: 8px;
}

.filter-heading h5 {
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-family: 'Bodoni';
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;
}

.filter-date {
	padding: 10px 12px;
	background: #ffffff url('../images/calendar.png') no-repeat right 12px center;
	border: 1px solid #a0a0a0;	
	width: 100%;
	margin-bottom: 10px;
}

.filter {
	border-bottom: 1px solid #dedede;

}

.filter h6:first-child {
	padding-top: 0px;
}

.filter h6 {
	font-family: 'Georgia';
	font-size: 16px;
	font-weight: 500;
	color: #1f1f1f;
	text-transform: none;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	background: url('../images/arrow-dwn.png') right center no-repeat;
	background-size: 16px;
}

.arrow-up {
	background: url('../images/arrow-up.png') right center no-repeat !important;
	background-size: 16px !important;

}

.arrow-down {
	background: url('../images/arrow-dwn.png') right center no-repeat !important;
	background-size: 16px !important;

}

.filter-options {
	display: none;
	padding-bottom: 10px;

}

.filter-options .checkbox {
	margin-top: 0;
}


.clear {
	padding-top: 10px;
}

.clear-all {
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: underline;
	color: #1f1f1f;
}

/** Slider **/
.price-range {
	padding-top: 28px;
}

.filter-wrapper .slider.slider-horizontal {
	width: 70% !important;
}

.filter-wrapper .slider-min, .slider-max {
	font-size: 12px;
}

.filter-wrapper .slider-handle {
	background-image: -webkit-linear-gradient(top, #ddd 0%, #d6d6d6 100%) !important;
	background-color: #ddd !important;
	background-color: #3a94a5 !important;
	background-image: -webkit-linear-gradient(top, #ddd 0%, #d6d6d6 100%) !important;
	background-image: -o-linear-gradient(top, #ddd 0%, #d6d6d6 100%) !important;
	background-image: linear-gradient(to bottom, #ddd 0%, #d6d6d6 100%) !important;
}

/*===========================================
=========== Tour List Horizontal ============
============================================*/

.tour-listing-content-tiles {
	display: none;
}

p.dates-selected {
	padding: 10px;
	background-color: #ddd;
}

.cta-btn {
	background-color: #1468ab;
	margin-top: 80px;
	padding: 5px 20px;
}

.btn-switch {
	background-color: #163d8f;
	margin-top: 30px;
	border-color: #00317e;
	font-size: 20px;
}

.btn-switch:hover {
	background-color: #00317e;
}

.btn-switch:active {
	background-color: #00317e;
}

.inner-page {
	padding-top: 30px;
}

.listings-page {
	padding-bottom: 60px;
}

.listings-page .container {
	position: relative;
}

.listings-page .stamp {
	position: absolute;
	right: -80px;
	width: 170px;
}

.most-popular-tours {
	background : #ecf5fb;
	padding: 0px 20px 5px 20px;
}

.sort-activity {
	list-style-type: none;
	margin-top: 20px !important;
	padding-left: 0px !important;
}

ul.sort-activity-list {
	position: absolute;
	right: 15px;
	list-style-type: none;
	display: none;
	background: #fff;
	color: #333;
	padding: 20px;
	font-size: 16px;
	margin-top: 11px;
	margin-left: 16px;
	box-shadow: 0 1px 3px 0 #f0f0f0;
	-moz-box-shadow: 0 1px 3px 0 #f0f0f0;
	-webkit-box-shadow: 0 1px 3px 0 #f0f0f0;
	z-index: 1000;
	border: 1px solid #eeeeee;
}

.sort-activity-list a {
	color: #555555 !important;
}
.sort-activity-list li a:hover {
	color: #555555 !important;
	text-decoration: underline !important;
}

.tour-listing-content-horizontal h2 {
	color: #002055;
	text-transform: none;
	font-size: 28px;
	font-family: 'Bodoni';
	font-weight: 600;
}

.tour-listing-content-tiles h2 {
	color: #002055;
	text-transform: none;
	font-size: 28px;
	font-family: 'Bodoni';
	font-weight: 600;
}

.tour-listing-content h2 {
	color: #002055;
	text-transform: none;
	font-size: 28px;
	font-family: 'Bodoni';
	font-weight: 600;
}

.most-popular-wrapper {
	background: #ecf5fb;
}

.listing-img-wrapper {
	position: relative;

}
.listing-img {
	overflow: hidden;
	max-height: 205px;
}
.listing-img img{
	max-width: 100%;

}

.listing-container {
	background: #fff;
	height: 205px;
	margin-bottom: 20px;
	-webkit-box-shadow: 1px 3px 3px 0 #ebebeb;
	-moz-box-shadow: 1px 3px 3px 0 #ebebeb;
	box-shadow: 1px 3px 3px 0 #ebebeb;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

.listing-container:hover {
	-webkit-box-shadow: 1px 3px 8px 0 #b6b6b6;
	-moz-box-shadow: 1px 3px 8px 0 #b6b6b6;
	box-shadow: 1px 3px 8px 0 #b6b6b6;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

.listing-container .col-md-4 {
	 padding-right: 0px;
	 padding-left: 0px;
}

.price-wrapper {
	position: absolute;
	bottom: 10px;
}

.img-width{
	width:100%;
}

.listing-details-container {
	height: 205px; 
	background:#fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.listing-details-container h4 {
	text-transform: uppercase;
	font-family: 'Lato';
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.listing-details-container h4 a {
	color: #012b6e
}

.listing-details-container h3 {
	margin: 0;
	line-height: 1em;
	font-family: 'Garamond';
	font-size: 28px;
	font-weight: 600;
	margin-top: 5px;
	padding-bottom: 15px;
}

.listing-details-container h3 a{
	color: #1d1d1d;

}

.listing-details-container p{
	font-size: 12px;
	margin-bottom: 0px;
}

p.tour-info {
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
	color: #787878;
}

span.skip{
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #163d8f;
	text-transform: uppercase;
}

.listing-price-container{
	height: 205px; 
	border-left: 1px solid #e7e7e7;
	background: #fff;
	padding: 15px;
	text-align: center;
	position: relative;
}

.listing-content-mobile, .mobile-stars{
	display:none;
}

.stars img{
	display:block;
	margin:0 auto;
	padding-bottom: 5px;
}

.reviews .num-reviews {
	font-size: 13px;
	color: #4f4f4f;
}

.reviews .num-reviews:hover {
	text-decoration: underline;
}

.main-price{
	font-size: 34px;
	font-family: Garamond;
}


.listing-container .currency {
	font-size: 28px;

}

.number-rating{
	font-weight: bolder;
	font-size: 18px;
}


.listing-wrapper {
	position: relative;
}

.listing-price {
	color: #002055;
	font-weight: 600;
	font-size:22px;
	position: absolute;
	bottom: 50px;
	right: 15px;
	left: 15px;
	text-align: center;
	line-height: 1.2em !important;
}

.listing-rating {
	width: 100%;
	text-align: center;
	font-size: 13px;
}


.discount-price {
	color:#dd1700;
	text-decoration: line-through;
	font-size: 14px;
	border-radius: 0;
	line-height: .8em;
}

.listing-label {
	position: absolute;
	left: -10px;
	top: 20px;
	font-size: 13px;
	text-transform: uppercase;
	padding: 6px 0px 6px 10px;
	color: #ffffff;
}

.listing-label.sale {
	background: #ed9319;
}

.listing-label.sale:after {
	content: ' ';
	position: absolute;
	width: 15px;
	top: 0;
	border-width: 15px 10px;
	border-style: solid;
	border-color: #ed9319 transparent #ed9319 #ed9319;
}

.listing-label.sale:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-bottom-color: #c97707;
	border-width: 0 0 8px 10px ;
	position: absolute;
	bottom: 100%;
	left: 0;
}

.listing-label.likely {
	background: #01abee;
}

.listing-label.likely:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-bottom-color: #0494cd;
	border-width: 0 0 8px 10px ;
	position: absolute;
	bottom: 100%;
	left: 0;
}

.listing-label.likely:after {
	content: ' ';
	position: absolute;
	width: 15px;
	top: 0;
	border-width: 15px 10px;
	border-style: solid;
	border-color: #01abee transparent #01abee #01abee;
}

.more-info {
	text-decoration: underline;
	font-size: 13px;
}

.listing-video {
	background: rgba(1, 43, 110, 0.7);
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 8px;
}

.listing-video:hover {
	background: rgba(1, 43, 110, 0.9);
}

.listing-rating .fa-star {
	color: #f2c426;
	font-size: 18px;
}

.activity-level {
	background: url('../images/listings/activity.png') no-repeat left center;
	padding-left: 11px !important;
	margin-left: 15px;
}

.max-size {
	background: url('../images/listings/group-size.png') no-repeat left center;
	padding-left: 20px !important;	
	margin-left: 15px;

}

.slider-play {
	position: absolute !important;
	top: 50%;
	margin-top: -73px;
	left: 25%;
	margin-left: -63px;
	max-width: 100%;
}

.video-area {
	position: absolute;
}



.sidebar-video {
	position: relative;
	padding: 0;
	overflow: hidden;
}

.sidebar-video:hover .sidebar-video-caption {
	bottom: -50px;
	transition: bottom 0.45s ease-in-out;
	-webkit-transition: bottom 0.45s ease-in-out;
	-moz-transition: bottom 0.45s ease-in-out;
}

.sidebar-video-caption {
	width: 100%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	padding: 10px;
}

.sidebar-video-caption {
	transition: bottom 0.45s ease-in-out;
	-webkit-transition: bottom 0.45s ease-in-out;
	-moz-transition: bottom 0.45s ease-in-out;
}

.sidebar-video-caption a {
	color: #ffffff;	
	font-size: 20px;
}

#venues {
	display: block;
}

#price-slider {
	display: block;
}

.filter.venue h6 {
	background: url('../images/arrow-up.png') right center no-repeat;
	background-size: 16px;
}

.filter.price-slider h6 {
	background: url('../images/arrow-up.png') right center no-repeat;
	background-size: 16px;
}

/*===========================================
============= Tour Details =================
============================================*/

#tourTabs {
	margin-top: 40px;
}

#tourTabs li {
	width: 33.33334%;
	background: #efeeed;
}

#tourTabs li:last-child {
	border-left: 0px !important;
}

.tour-included {
	border-left: 0px !important;
}

#tourTabs li.active {
	background: #fff !important;
	border-bottom: 0px !important;
}

.nav-tabs {
	border-bottom: 1px solid #fff !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border: 0px !important;
}

.nav-tabs>li {
	margin-bottom: -5px;
}

.nav-tabs>li>a {
	border: 0px !important;
}

#tourTabs li a {
	font-size: 26px;
	text-transform: none;
	text-align: center;
	border-radius: 0px !important;
	padding: 20px;
	font-family: 'Bodoni', serif;
	color: #141414 !important;
}

.tab-content {
	padding: 40px;
	margin-bottom: 40px;
	background: #ffffff;
	border: 1px solid #333;
	border-image: url("../images/border.png") 1 1 1 1 repeat;
	-moz-border-image: url("../images/border.png") 1 1 1 1 repeat;
	-webkit-border-image: url("../images/border.png") 1 1 1 1 repeat;
	border-top: 0px !important;
}

#tourTabs.nav-tabs li {
	border: 1px solid #333;
	border-image: url("../images/border.png") 1 1 1 1 repeat;
	-moz-border-image: url("../images/border.png") 1 1 1 1 repeat;
	-webkit-border-image: url("../images/border.png") 1 1 1 1 repeat;
}

.tab-divider {
	margin-top: 20px;
	margin-bottom: 30px;
}

.tour-details h2 {
	text-transform: none;
}

p.tour-details-description {
	margin-bottom: 20px;
}

span.tour-review-rating {
	color: #F2C426;
	font-weight: 400;
	padding-top: 10px;
	margin: 0 auto !important;
}

span.review-large {
	color: #242424!important;
}

.reviews-summary {
	border: 1px solid #cacaca;
	background: #fff;
	box-shadow: 2px 2px 2px #dddedf;
	margin-top: 10px;
}

.reviewgraph-content {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
}

.reviewgraph-content hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.reviewsgraph {
	overflow: hidden;
	padding-top: 9px;
	padding-left: 10px;
}

.arrow-reviews-down{
        background-image: url('../images/icons/dropdown-arrow.png');
        background-repeat: no-repeat;
        background-position: 124px 52%; 
    }

.arrow-reviews-up {
		background-image: url('../images/icons/dropdown-arrow-up.png');
        background-repeat: no-repeat;
        background-position: 124px 52%; 
}

a#element1 {
	margin-left: -30px;
}

.reviewsgraph-stars {
	width: 16.6667%;
	display: inline;
	padding-right: 2px;
}

.bar-content {
	background-color: #F4F4F4;
	height: 15px;
	width: 55%;
	display: inline-block;
}

.reviewsamount {
	width: 16.6667%;
	display: inline;
	padding-left: 1px;
}

.progress-bar {
	background-color: #f2c426;
	height: 15px;
	display: inline;
	width: 100%;
}

span.showreviews {
	font-size: 13px !important;
}

p.tour-heading-stars {
	text-align: center;
	line-height: 1.1;
}

p.hide-rating {
	text-align: center;
	margin-bottom: 0px !important;
	font-size: 17px;
}

img.tour-review-star {
	margin-top: -10px;
}

.show-rating {
	background-color: #e6e9f0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.review-large {
	font-family: 'Bodoni', serif;
	font-size: 26px;
	font-weight: bold;
}

.book-wrapper {
	margin-top: 20px;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #ED9319;
    margin-bottom: 20px;
    box-shadow: 1px 3px 3px 0px #E0E0DF;
}

.from-price {
	font-size: 18px;
}

.tour-label {
	position: absolute;
	left: -10px;
	top: 58px;
	font-size: 13px;
	text-transform: uppercase;
	padding: 6px 0px 6px 10px;
	color: #ffffff;
}

.tour-label.tour-sale {
	background: #cb0005;
}

.tour-label.tour-sale:after {
	content: ' ';
	position: absolute;
	width: 15px;
	top: 0;
	border-width: 15px 10px;
	border-style: solid;
	border-color: #cb0005 transparent #cb0005 #cb0005;
}

.tour-label.tour-sale:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-bottom-color: #cb0005;
	border-width: 0 0 8px 10px ;
	position: absolute;
	bottom: 100%;
	left: 0;
}

.book-heading {
    background: none repeat scroll 0% 0% #ED9319;
    padding: 12px 15px;
}

.book-heading h5 {
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-family: 'Bodoni';
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}

.book-content {
	padding: 10px 20px 20px 20px;
}

.book-content p {
	text-align: center;
}

#tour-pax {
	display: none;
}

#tour-time {
	display: none;
}

.step {
	margin-top: -5px;
	padding-right: 5px;
}

.totals-row {
	opacity: 0.2;
}

.strike-through {
	color: #cb0005;
	text-decoration: line-through;
	font-size: 18px;
	margin-bottom: 0px !important;
}

.white-bg{
	background:#fff; 
	border-color:#c0c0c0; 
	color:#808080;
}

select.form-select.white-bg {
	line-height: 35px !important;
}

.person-select {
	width: 25% !important; 
	display: inline !important;
}

p.people {
	color:#808080;
	font-size: 10px;
	margin-top: 5px !important;
}

p.tour-total {
	color: #001f55;
	font-size: 34px;
	margin-bottom: 0px !important;
}

p.child-price {
	font-size: 14px;
	margin-bottom: 0px !important;
}

.book-content h4 {
	font-weight: bold;
	font-family: 'Bodoni';
	font-size: 24px;
	text-align: left;
	color: #141414;
}

.book-content hr {
	margin-top: 20px !important;
}

.book-total {
	color: #001f55;
	font-size: 30px;
	text-align: left !important;
}

#Reviews {
	height: auto;
	padding: 50px;
}

#included.tab-pane {
	height: auto;
}

#tour-description.tab-pane {
	height: auto;
}

.tab-pane h4 {
	color: #ed9219;
	font-size: 28px;
	font-family: 'Bodoni', serif;
	margin-top: 0px !important;
}

#included h4 {
	color: #ed9219;
	font-size: 28px;
	font-family: 'Bodoni', serif;
	margin-top: 20px;
	margin-bottom: 20px;
}

ul.list-icon {
	padding-left: 0px;
	margin: 0.4em 0em 1.5em 0em;
}

ul.list-icon li {
	background: url(../images/divider.png) no-repeat 2px 7px;
	padding-left: 30px;
	list-style: none;
	font-size: 16px;
	line-height: 1.55em;
	margin-bottom: 0.6em;
	margin-left: 0px;
}

h4.describe-title {
	color: #141414 !important;
	font-size: 24px !important;
	font-family: 'Bodoni', serif !important;
	margin-top: 0px !important;
}

#reviewsgraph-content {
	display: none;
}

p.detail {
	font-size: 20px;
	text-align: center;
	margin-bottom: 0px;
}

p.detail-description {
	font-size: 16px;
	text-align: center;
	font-family: 'Georgia', serif;
	font-style: italic;
	color: #5474a3 !important;
	padding-top: 10px;
	margin-bottom: 0px;
}

/*===========================================
============= Customer Reviews =================
============================================*/

.sidebar {
    margin-left:0;
    margin-bottom: 30px !important;
    margin-top: 20px;
}

.content {
    float:right !important;
    margin-left:auto;
}

.inner-page-content {
	margin-top: 20px;
}

.inner-page-content h1 {
	font-family: 'Bodoni', 'Georgia', serif;
	font-size: 52px;
	text-align: left;
	color: #002055;
}

.inner-page-content p {
	color: #242424;
}

#preloader {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff;
  z-index:100; 
  display: none;
}

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50px;
  background-image:url(../images/status.gif);
  background-repeat:no-repeat;
  background-position:center;
  display: none;
}

p.review-description {
	line-height: 1.4 !important;
}

.highest-rating:hover {
	text-decoration: underline;
}

span.rating-sort {
	color: #428bca;
	margin-top: -122px;
	font-family: 'Georgia', serif;
	font-size: 18px;
}

.activities {
	background: #fff;
	border: 1px solid #eeeeee;
	padding: 10px 20px 10px 20px;
	font-family: 'Georgia', serif;
	font-size: 18px !important;
}

.activities a {
	color: #1188ca;
}

#activities {
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

#activities:hover {
	color: #025380 !important;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

.activities a:hover {
	color: #1188ca !important;
	text-decoration: none;
}

#arrow {
	margin-top: -2px;
}

ul.tour-activity {
	list-style-type: none;
	margin-top: 20px !important;
	padding-left: 0px !important;
	width: 175px !important;
}

ul.tour-activity-list {
	position: absolute;
	left: 0;
	width: 70%;
	right: 0;
	list-style-type: none;
	display: none;
	background: #fff;
	color: #333;
	padding: 20px 20px 10px 20px;
	font-size: 16px;
	margin-top: 11px;
	margin-left: 16px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
	-moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
	z-index: 1000;
	border: 1px solid #eeeeee;
}

.tour-activity-list li {
	padding-bottom: 4px;
	text-align: left;
}

.tour-activity-list li a {
	color: #555555;
	font-size: 16px !important;
}

.tour-activity-list li a:hover {
	color: #555555 !important;
	text-decoration: underline !important;
}

.review-background {
	background-color: #fff;
	padding: 50px 50px 90px 50px;
}

tr.pagination td {
	padding-right: 5px;
	padding-left: 5px;
}

.review {
	padding-bottom: 50px;
	padding-left: 60px;
	padding-right: 60px;
}

.divide {
	padding-bottom: 50px;
}

p.review-text {
	padding-top: 10px;
	padding-left: 85px;
	padding-right: 85px;
	font-style: italic;
	font-size: 18px;
}

span.review-date {
	font-size: 21px;
	font-family: 'Georgia', serif;
}

span.review-rating {
	color: #242424;
	font-weight: 700;
	padding-top: 10px;
}

img.quotes-top {
	margin-top: 25px;
	margin-right: 505px;
}

img.quotes-bottom {
	margin-top: -70px;
}

a.review-tour {
	color: blue;
}

a.review-tours {
	color: #F2C426;
	font-weight: 600;
}

a.review-tours:hover {
	color: #F2C426;
	text-decoration: none;
}

p.review-intro {
	padding-bottom: 40px;
}

p.reviewer {
	color: #61605e;
	font-family: 'Lato', 'Arial', sans-serif;
	padding-left: 85px;
	padding-bottom: 40px;
	line-height: 1.8;
}

.review-star {
	margin-top: -5px;
}

.pagination {
	padding-bottom: 50px;
	font-family: 'Georgia', serif;
	font-size: 20px;
}

.pagination a {
	color: #242424;
	cursor: pointer;
}

.pagination a:hover {
	color: #242424;
	text-decoration: underline;
}

.pagination a.active-pagination {
	color: #163d8f;
	cursor: not-allowed;
	text-decoration: none;
	border-bottom: 1px solid #163d8f;
}

.trip {
	padding: 15px;
	border: 1px solid #979797;
	background: #fff;
	margin-bottom: 20px;
	height: 290px;
	box-shadow: 2px 2px 2px #dddedf;
	height: auto;
}

.trip-divide {
	padding-left: 0;
}

.trip a {
	color: #242424;
}

.trip-divide {
	border-right: 1px solid #bbbbbb;
	padding-right: 5px;
}


.trip-cert {
	margin-bottom: 10px;
	width: 180px;
}

.trip-sub1 {
	font-family: 'Lato', 'Arial', sans-serif;
	color: #686868;
	font-size: 10px;
	text-align: center !important;
	text-transform: uppercase;
	margin-top: 12px;
}

.trip-sub2 {
	font-family: 'Lato', 'Arial', sans-serif;
	color: #686868;
	font-size: 10px;
	text-align: center !important;
	text-transform: uppercase;
	margin-top: 10px;
}

.trip-review {
	font-family: 'Bodoni', 'Georgia', serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px !important;
	text-align: center !important;
}

.top-tours {
	border: 1px solid #163d8f;
	background: #fff;
	margin-bottom: 20px;
}

.top-sell {
	background-color: #163d8f;
}

.top-sell h6 {
	text-transform: uppercase;
	color: #fff;
	font-family: 'Bodoni','Georgia', serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

p.top-title {
	font-family: 'Georgia', serif;
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 0px;
	color: #1d1d1d !important;
}


p.skip {
	font-family: 'Lato', 'Arial', sans-serif;
	color: #163d8f;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 0px !important;
	padding-top: 10px !important;
}

p.top-price {
	font-size: 21px;
	color: #002055;
	font-weight: 600;
	margin-top: -10px;
}

span.from-price {
	font-size: 12px;
	color: #002055;
	font-weight: 400;
}

.care {
	padding: 10px 10px 20px 10px;
	border: 1px solid #979797;
	background: #fff;
	text-align: center;
	margin-bottom: 20px;
}

.care p {
	font-size: 14px;
	color: #313131;
	text-align: center;
	padding-bottom: 10px;
}

p.care-country {
	font-family: 'Bodoni', 'Georgia', serif;
	font-weight: bold;
	font-size: 20px !important;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px !important;
	margin-bottom: 0px !important;
}

.care span {
	font-size: 16px;
}

.care-detail {
	margin-bottom: 10px;
}

#loader{
	z-index: 2000;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 305%;
	width: 100%;
	opacity: 0.8;
	display: none;
	background: #fff;
}

#loader .loadingDiv{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: url(../images/loader.gif) no-repeat center center;
}

/*===========================================
============= Cart Screen ===================
============================================*/

.shopping-cart {
	background: #fff;
	margin-bottom: 60px;
}

.shopping-cart h1 {
	font-family: 'Bodoni', 'Georgia', serif;
	font-size: 44px;
	text-align: left;
	color: #002055;
}

.cart-listing-details-container {
	height: 180px; 
	background: #fff;
	color: #002055;
	border-right: 1px solid #c8d3dc;
}

.cart-listing-details-container p {
	color: #242424;
	font-size: 14px;
}

.cart-listing-details-container p span {
	padding-left: 3px;
	padding-right: 3px;
}
.cart-listing-details-container h4 {
	font-family: 'Garamond' serif;
	font-size: 24px;
	font-weight: 600;
	color: #242424;
	line-height: 1.3;
	margin-top: 15px;
}

.cart-listing h4 {
	font-family: 'Garamond' serif;
	font-size: 24px;
	font-weight: 600;
	color: #242424;
	line-height: 1em;
	margin-top: 0;
}

.cart-listing i {
	color: #b1b1b1;
	padding-right: 5px;	
}

.cart-listing i:nth-child(2) {
	padding-left: 15px;
}

.cart-listing .currency {
	font-family: 'Lato';
	font-weight: 600;
	font-size: 28px !important;
}

.cart-listing img {
	padding-top: 8px;
}

.cart-listing {
    overflow: hidden; 
	margin-bottom: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ddd;
}

.cart-listing:last-child {
	border: 0px;
}


.cart-listing .col-md-3, .cart-listing .col-md-7, .cart-listing .col-md-2 {
	margin-bottom: -99999px;
    padding-bottom: 99999px;
    background-color: #ffffff;
}
 
.cart-listing-details-container i {
	color: #b1b1b1;
	padding-right: 5px;
}

.cart-listing-container {
	background: rgba(20, 104, 171, 0.1);
	border: 1px solid #ddd;
	height: 182px;
	box-shadow: 2px 2px 2px #dddedf;
}

.cart-listing-container .currency {
	font-family: 'Lato';
	font-weight: 600;
	font-size: 28px !important;
}

.total {
	font-size: 26px;
	text-align: center;
}

.grand-total-amount {
	background: rgba(20, 104, 171, 1);
	padding-top: 20px;
	padding-bottom: 10px;
}

.grand-total-amount h2 {
	text-transform: uppercase;
	color: #fff;
	font-family: 'Georgia Regular', serif;
	font-size: 26px;
	font-weight: normal;
}

p.total {
	color: #fff;
}

.cart-listing-price {
	background: #e7eff6 ;
}

.tour-price p {
	font-size: 34px;
	font-weight: 600;
	color: #002055;
	font-family: 'Garamond', sans-serif;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 15px;
}


.filter-heading h5.arrow-up {
	background-image: url('../images/arrow-up-white.png') !important;
	background-size: 24px 24px !important;

}

/*===========================================
============= Checkout Page =================
============================================*/

.checkout-care {
	padding: 20px 10px 20px 10px;
	border: 1px solid #dddedf;
	background: #fff;
	text-align: center;
	margin-top: 20px;
}

.checkout-care h6 {
	margin-top: 0px;
}

label {
	font-weight: normal;
	line-height: 1.4285755000000002em;
}

.form-control {
	border: 1px solid #bdc3c7;
	color: #34495e;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding: 8px 12px;
	height: 41px;
	-webkit-appearance: none;
	border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	-moz-transition: border .25s linear, color .25s linear, background-color .25s linear;
	-o-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	-webkit-backface-visibility: hidden;
}

.has-error .form-control:focus{
	border-color: #e74c3c;
	box-shadow: none;
}

.has-error .form-control{
	border-color: #e74c3c;
}

.has-success .form-control:focus{
	box-shadow: none;
}

.form-group.focus .form-control,
.form-control:focus{
	border:1px solid #000;
	box-shadow: none;
}

.sidebar-checkout-extras-2{
	display:none;
}

.main-wrapper-checkout{
	background:#fff;  
	padding: 28px 40px 40px 44px;
	margin-bottom: 100px;
	border: 1px solid #dddedf;
	margin-top: 20px;
}

.checkout-header {
	padding: 30px 0px 0px 0px;
}

.checkout-header p{
	text-align:right; 
	font-size:20px; 
	line-height:1.8em; 
	font-size:16px; 
	color:#888; 
	margin-top:34px; 
	font-weight:300;
} 

.checkout-header p strong{
	color:#333; 
	font-weight:600; 
	font-size:22px;
}

.checkout-header img.logo{
	width:150px; 
	margin:11px 0px 0px 0px;
}

.checkout-wrapper h2{
	font-size: 26px;
	color: #1468ab;
	font-size: 26px;
	font-weight: normal;
	text-transform: none;
}

.checkout-wrapper h3{
	margin-bottom:20px;
}

.checkout-heading{
	font-family: 'Bodoni', 'Georgia', serif;
	font-size: 44px;
	text-align: left;
	color: #002055;
	margin-top: 0px;
}

.checkout-wrapper div.highlight{
	padding:17px 20px; 
	background:#e2ecf7; 
	margin:10px 0px 30px 0px;
}

.checkout-wrapper div.highlight p{
	margin-bottom:6px; 
	color:#29639e;
}

.checkout-wrapper div.highlight h4{
	font-size:16px; 
	margin-bottom:0px;
}

.checkout-wrapper .well{
	background:none; 
	box-shadow:none; 
	padding:15px 30px 10px 30px; 
	border-color:#e2e2e2; 
}

/*.checkout-wrapper .btn{
	margin-top:40px; 
	padding:20px; 
	font-size:18px; 
	font-weight:600; 
	border-radius:4px; 
	background:#e79516; 
	border:0; 
	color:#fff;
}

.checkout-wrapper .btn:hover{
	background:#d57f00;
}*/

.checkout-wrapper .btn-sm{
	margin:0px; 
	padding:10px 5px; 
	font-size:13px; 
	font-weight:400; 
	margin-top:28px;
	font-family: 'Lato', 'Arial', sans-serif;
	border-radius: 1px;
}

.checkout-wrapper hr{ 
	border-color:#dddedf; 
	margin:3em -3em 3em -3em;
}

.checkout-wrapper h3{ 
	margin-top: 0px;
	color: #333;
}

.checkout-wrapper p{ 
	margin-top: 5px;
}

.checkout-wrapper .checkbox a{
	text-decoration:underline;
}

.checkout-wrapper .fa { 
	color: #b1b1b1;
	padding-right: 5px;
}

.checkbox.checked, .radio.checked{
	color:#000;
}

.popover-title {
	font-family: 'Lato', 'Arial', sans-serif;
}

label{
	margin-bottom:7px;
}

a.nav-toggle{
	border:none; 
	background:none; 
	color:#fff; 
	padding:0px; 
	text-decoration:underline;  
	font-size:14px; 
	font-weight:300;
} 

a.nav-toggle:focus{
	outline:none;
}

#code-collapse{
	padding-bottom:10px;
}

#code-collapse .input-group  input.form-control{
	border-color:#fff;
}

#code-collapse .input-group .form-control + .input-group-btn .btn-default{
	background: #e58f16; 
	border:none; 
	line-height: 30px; 
	color:#fff;
}

#code-collapse .input-group .form-control + .input-group-btn .btn-default:hover{
	background:#e18a00;
}

.has-success .form-control{
	border-color:#60ab23; 
	color:#60ab23;
}

.has-success .input-icon{
	color:#60ab23;
}

.form-control + .input-icon{
	top:30px; 
	font-size: 16px;
}

.yellow-bg{
	background:#ffffcc; 
	border-color:#e7c978; 
	color:#000;
}

select.form-select.yellow-bg {
	line-height: 35px !important;
}

img.thawte{
	display:block; 
	margin:0px auto; 
	padding:30px 0px;
}

/* Checkout Sidebar */

.sidebar-inverse{
	background:#222;
}
.sidebar-inverse h3{
	color:#fff; 
	margin-bottom:20px;
}

.sidebar-block {
	background: #fff;
	margin-bottom: 1.5em;
}

.sidebar-checkout{
	padding:20px 30px 20px 30px; 
	position:relative; 
	z-index:999;
} 

.checkout-sidebar-wrapper{
	padding: 20px; 
	background: #e8f0f6;; 
	margin-top: 20px;
	margin-bottom: 20px;
}

.sidebar-checkout p a{
	color:#fff; 
	border:none;
}

.phone-numbers {
	border-right: 1px solid #dddddd;
	padding-right: 30px;
}

.checkout-item{
	/*border-bottom:1px solid #444; */
	padding-bottom:10px; 
	margin-bottom: 0px;
} 

.checkout-item img{
	margin-top:5px;
}

.checkout-item p{
	margin-bottom:7px; 
	line-height:1.5em;
	font-size: 15px;
} 

.checkout-item p span{
	font-size: 14px;  
	color: #242424;
}

.checkout-item p.date{
	font-size:1em; 
	color:#bdbbbb; 
	font-weight: bold; 
	margin-bottom:7px;
}

.checkout-item i:nth-child(2) {
	padding-left: 15px;
}

.sidebar-checkout p.amount{
	text-align:center; 
	font-weight:400; 
	color:#fff; 
	font-size:16px;
}

.sidebar-checkout .grand-total p{
	text-transform:uppercase; 
	color:#fff; 
	font-size:20px; 
	font-weight:300; 
	margin-bottom:15px;
} 

p.final-amount{
	text-align:right; 
	font-size: 28px;
	color: #002055;
	margin-top: 80px;
	padding-right: 20px !important;
}

.checkout-wrapper h6 {
	text-align: left !important;
	margin-bottom: 20px !important;
	font-size: 24px !important;
	text-transform: none !important;
	color: #002055 !important;
}

.required {
	font-size: 12px;
	margin-top: 20px !important;
}

.checkout-wrapper label {
	font-size: 12px !important;
}

.checkout-sidebar-wrapper h5 {
	color: #002055;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cddde9;
	padding-bottom: 15px;
}

.checkout-item h4 {
	font-family: 'Garamond' serif;
	font-size: 19px;
	color: #242424;
	line-height: 1.4;
	margin-top: 0px;
	font-weight: 600;
}

.sidebar-checkout-extras h3{
	margin-bottom:5px;
}

.sidebar-checkout-extras .row {
	margin-top: 25px;
}

.sidebar-checkout-extras h3 span{
	font-size:16px; 
	font-weight:300; 
	color:#666;
}

.sidebar-checkout-extras img{
	margin-top:4px;
	} 

.sidebar-checkout-extras a{
	border:none;
} 

.sidebar-checkout-extras p{
	margin-bottom:10px; 
	margin-top:0px; 
} 

.sidebar-checkout-extras p span{
	font-size:0.9em; 
	padding-left:3px;
}

.sidebar-checkout-extras p{
	font-size:14px;
	line-height: 1.3em;
}

.customer-care .row{
	margin-top:25px;
}

.customer-care span {
	font-weight: bold; 
	padding-left: 0px; 
	font-size: 14px;
}

.customer-care p span {
	font-weight: bold; 
	padding-left: 0px; 
	font-size: 14px;
}

.care-team a {
	color: #0b77c2;
}

.care-team h3 {
	margin-top: 0px;
	color: #333;
}

.form-select {
	clear: both;
	display: block;
	width: 100%;
	padding: 9px;
	margin-top: 0px;
	border-color: #bdc3c7;
}

.intl-tel-input { 
	position: relative; 
}

.intl-tel-input .hide { 
	display: none; 
}

.intl-tel-input .flag-dropdown { 
	position: absolute; 
	z-index: 1; 
	cursor: pointer; 
}

.intl-tel-input .flag-dropdown .selected-flag { 
	margin: 1px; 
	padding: 11px 16px 11px 6px;
 }

.intl-tel-input .flag-dropdown .selected-flag:hover { 
	background-color: rgba(0, 0, 0, 0.05); 
}

.intl-tel-input .flag-dropdown .selected-flag .down-arrow { 
	top: 6px; 
	position: relative; 
	left: 20px; 
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent; 
	border-right: 4px solid transparent; 
	border-top: 4px solid black; 
}

.intl-tel-input .flag-dropdown .country-list { 
	list-style: none; 
	padding: 0; 
	margin: 0; 
	z-index: 1; 
	overflow-y: scroll; 
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); 
	background-color: white; 
	border: 1px solid #cccccc; 
	position: absolute; 
	top: 29px; 
	width: 330px; 
	max-height: 200px; 
}

.intl-tel-input .flag-dropdown .country-list .divider { 
	padding-bottom: 5px; 
	margin-bottom: 5px; 
	border-bottom: 1px solid #cccccc; 
}

.intl-tel-input .flag-dropdown .country-list .country { 
	line-height: 20px; 
	padding: 4px 10px; 
}

.intl-tel-input .flag-dropdown .country-list .country .dial-code { 
	color: #999999; 
}

.intl-tel-input .flag-dropdown .country-list .country.highlight { 
	background-color: rgba(0, 0, 0, 0.05); 
}

.intl-tel-input .flag-dropdown .country-list .flag {
	 display: inline-block; vertical-align: bottom; 
	}

.intl-tel-input .flag-dropdown .country-list .flag, .intl-tel-input .flag-dropdown .country-list .country-name { 
	margin-right: 6px; 
}

.intl-tel-input input { 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	height: 40px; 
	padding-left: 47px; 
	position: relative; 
	z-index: 0; 
}

.intl-tel-input .flag-dropdown .country-list li{
	margin-bottom:0px;
}

/* originally from https://github.com/lafeber/world-flags-sprite */
.f16 .flag { 
	width: 16px; 
	height: 16px; 
	background: url("../images/icons/flags16.png") no-repeat; 
}

.f16 ._African_Union { 
	background-position: 0 -16px; 
}

.f16 ._Arab_League { 
	background-position: 0 -32px; 
}

.f16 ._ASEAN { 
	background-position: 0 -48px; 
}

.f16 ._CARICOM {
 	background-position: 0 -64px; 
}

.f16 ._CIS { 
	background-position: 0 -80px; 
}

.f16 ._Commonwealth { 
	background-position: 0 -96px; 
}

.f16 ._England { 
	background-position: 0 -112px; 
}

.f16 ._European_Union { 
	background-position: 0 -128px; 
}

.f16 ._Islamic_Conference { 
	background-position: 0 -144px; 
}

.f16 ._Kosovo { 
	background-position: 0 -160px; 
}

.f16 ._NATO { 
	background-position: 0 -176px;
}

.f16 ._Northern_Cyprus { 
	background-position: 0 -192px; 
}

.f16 ._Northern_Ireland { 
	background-position: 0 -208px; 
}

.f16 ._Olimpic_Movement { background-position: 0 -224px; 
}

.f16 ._OPEC { 
	background-position: 0 -240px; 
}

.f16 ._Red_Cross { 
	background-position: 0 -256px; 
}

.f16 ._Scotland { 
	background-position: 0 -272px; 
}

.f16 ._Somaliland { 
	background-position: 0 -288px; 
}

.f16 ._Tibet { 
	background-position: 0 -304px; 
}

.f16 ._United_Nations { 
	background-position: 0 -320px; 
}

.f16 ._Wales { 
	background-position: 0 -336px; 
}

.f16 .ad { background-position: 0 -352px; }
.f16 .ae { background-position: 0 -368px; }
.f16 .af { background-position: 0 -384px; }
.f16 .ag { background-position: 0 -400px; }
.f16 .ai { background-position: 0 -416px; }
.f16 .al { background-position: 0 -432px; }
.f16 .am { background-position: 0 -448px; }
.f16 .an { background-position: 0 -464px; }
.f16 .ao { background-position: 0 -480px; }
.f16 .aq { background-position: 0 -496px; }
.f16 .ar { background-position: 0 -512px; }
.f16 .as { background-position: 0 -528px; }
.f16 .at { background-position: 0 -544px; }
.f16 .au { background-position: 0 -560px; }
.f16 .aw { background-position: 0 -576px; }
.f16 .az { background-position: 0 -592px; }
.f16 .ba { background-position: 0 -608px; }
.f16 .bb { background-position: 0 -624px; }
.f16 .bd { background-position: 0 -640px; }
.f16 .be { background-position: 0 -656px; }
.f16 .bf { background-position: 0 -672px; }
.f16 .bg { background-position: 0 -688px; }
.f16 .bh { background-position: 0 -704px; }
.f16 .bi { background-position: 0 -720px; }
.f16 .bj { background-position: 0 -736px; }
.f16 .bm { background-position: 0 -752px; }
.f16 .bn { background-position: 0 -768px; }
.f16 .bo { background-position: 0 -784px; }
.f16 .br { background-position: 0 -800px; }
.f16 .bs { background-position: 0 -816px; }
.f16 .bt { background-position: 0 -832px; }
.f16 .bw { background-position: 0 -848px; }
.f16 .by { background-position: 0 -864px; }
.f16 .bz { background-position: 0 -880px; }
.f16 .ca { background-position: 0 -896px; }
.f16 .cg { background-position: 0 -912px; }
.f16 .cf { background-position: 0 -928px; }
.f16 .cd { background-position: 0 -944px; }
.f16 .ch { background-position: 0 -960px; }
.f16 .ci { background-position: 0 -976px; }
.f16 .ck { background-position: 0 -992px; }
.f16 .cl { background-position: 0 -1008px; }
.f16 .cm { background-position: 0 -1024px; }
.f16 .cn { background-position: 0 -1040px; }
.f16 .co { background-position: 0 -1056px; }
.f16 .cr { background-position: 0 -1072px; }
.f16 .cu { background-position: 0 -1088px; }
.f16 .cv { background-position: 0 -1104px; }
.f16 .cy { background-position: 0 -1120px; }
.f16 .cz { background-position: 0 -1136px; }
.f16 .de { background-position: 0 -1152px; }
.f16 .dj { background-position: 0 -1168px; }
.f16 .dk { background-position: 0 -1184px; }
.f16 .dm { background-position: 0 -1200px; }
.f16 .do { background-position: 0 -1216px; }
.f16 .dz { background-position: 0 -1232px; }
.f16 .ec { background-position: 0 -1248px; }
.f16 .ee { background-position: 0 -1264px; }
.f16 .eg { background-position: 0 -1280px; }
.f16 .eh { background-position: 0 -1296px; }
.f16 .er { background-position: 0 -1312px; }
.f16 .es { background-position: 0 -1328px; }
.f16 .et { background-position: 0 -1344px; }
.f16 .fi { background-position: 0 -1360px; }
.f16 .fj { background-position: 0 -1376px; }
.f16 .fm { background-position: 0 -1392px; }
.f16 .fo { background-position: 0 -1408px; }
.f16 .fr { background-position: 0 -1424px; }
.f16 .ga { background-position: 0 -1440px; }
.f16 .gb { background-position: 0 -1456px; }
.f16 .gd { background-position: 0 -1472px; }
.f16 .ge { background-position: 0 -1488px; }
.f16 .gg { background-position: 0 -1504px; }
.f16 .gh { background-position: 0 -1520px; }
.f16 .gi { background-position: 0 -1536px; }
.f16 .gl { background-position: 0 -1552px; }
.f16 .gm { background-position: 0 -1568px; }
.f16 .gn { background-position: 0 -1584px; }
.f16 .gp { background-position: 0 -1600px; }
.f16 .gq { background-position: 0 -1616px; }
.f16 .gr { background-position: 0 -1632px; }
.f16 .gt { background-position: 0 -1648px; }
.f16 .gu { background-position: 0 -1664px; }
.f16 .gw { background-position: 0 -1680px; }
.f16 .gy { background-position: 0 -1696px; }
.f16 .hk { background-position: 0 -1712px; }
.f16 .hn { background-position: 0 -1728px; }
.f16 .hr { background-position: 0 -1744px; }
.f16 .ht { background-position: 0 -1760px; }
.f16 .hu { background-position: 0 -1776px; }
.f16 .id { background-position: 0 -1792px; }
.f16 .mc { background-position: 0 -1792px; }
.f16 .ie { background-position: 0 -1808px; }
.f16 .il { background-position: 0 -1824px; }
.f16 .im { background-position: 0 -1840px; }
.f16 .in { background-position: 0 -1856px; }
.f16 .iq { background-position: 0 -1872px; }
.f16 .ir { background-position: 0 -1888px; }
.f16 .is { background-position: 0 -1904px; }
.f16 .it { background-position: 0 -1920px; }
.f16 .je { background-position: 0 -1936px; }
.f16 .jm { background-position: 0 -1952px; }
.f16 .jo { background-position: 0 -1968px; }
.f16 .jp { background-position: 0 -1984px; }
.f16 .ke { background-position: 0 -2000px; }
.f16 .kg { background-position: 0 -2016px; }
.f16 .kh { background-position: 0 -2032px; }
.f16 .ki { background-position: 0 -2048px; }
.f16 .km { background-position: 0 -2064px; }
.f16 .kn { background-position: 0 -2080px; }
.f16 .kp { background-position: 0 -2096px; }
.f16 .kr { background-position: 0 -2112px; }
.f16 .kw { background-position: 0 -2128px; }
.f16 .ky { background-position: 0 -2144px; }
.f16 .kz { background-position: 0 -2160px; }
.f16 .la { background-position: 0 -2176px; }
.f16 .lb { background-position: 0 -2192px; }
.f16 .lc { background-position: 0 -2208px; }
.f16 .li { background-position: 0 -2224px; }
.f16 .lk { background-position: 0 -2240px; }
.f16 .lr { background-position: 0 -2256px; }
.f16 .ls { background-position: 0 -2272px; }
.f16 .lt { background-position: 0 -2288px; }
.f16 .lu { background-position: 0 -2304px; }
.f16 .lv { background-position: 0 -2320px; }
.f16 .ly { background-position: 0 -2336px; }
.f16 .ma { background-position: 0 -2352px; }
.f16 .md { background-position: 0 -2368px; }
.f16 .me { background-position: 0 -2384px; }
.f16 .mg { background-position: 0 -2400px; }
.f16 .mh { background-position: 0 -2416px; }
.f16 .mk { background-position: 0 -2432px; }
.f16 .ml { background-position: 0 -2448px; }
.f16 .mm { background-position: 0 -2464px; }
.f16 .mn { background-position: 0 -2480px; }
.f16 .mo { background-position: 0 -2496px; }
.f16 .mq { background-position: 0 -2512px; }
.f16 .mr { background-position: 0 -2528px; }
.f16 .ms { background-position: 0 -2544px; }
.f16 .mt { background-position: 0 -2560px; }
.f16 .mu { background-position: 0 -2576px; }
.f16 .mv { background-position: 0 -2592px; }
.f16 .mw { background-position: 0 -2608px; }
.f16 .mx { background-position: 0 -2624px; }
.f16 .my { background-position: 0 -2640px; }
.f16 .mz { background-position: 0 -2656px; }
.f16 .na { background-position: 0 -2672px; }
.f16 .nc { background-position: 0 -2688px; }
.f16 .ne { background-position: 0 -2704px; }
.f16 .ng { background-position: 0 -2720px; }
.f16 .ni { background-position: 0 -2736px; }
.f16 .nl { background-position: 0 -2752px; }
.f16 .no { background-position: 0 -2768px; }
.f16 .np { background-position: 0 -2784px; }
.f16 .nr { background-position: 0 -2800px; }
.f16 .nz { background-position: 0 -2816px; }
.f16 .om { background-position: 0 -2832px; }
.f16 .pa { background-position: 0 -2848px; }
.f16 .pe { background-position: 0 -2864px; }
.f16 .pf { background-position: 0 -2880px; }
.f16 .pg { background-position: 0 -2896px; }
.f16 .ph { background-position: 0 -2912px; }
.f16 .pk { background-position: 0 -2928px; }
.f16 .pl { background-position: 0 -2944px; }
.f16 .pr { background-position: 0 -2960px; }
.f16 .ps { background-position: 0 -2976px; }
.f16 .pt { background-position: 0 -2992px; }
.f16 .pw { background-position: 0 -3008px; }
.f16 .py { background-position: 0 -3024px; }
.f16 .qa { background-position: 0 -3040px; }
.f16 .re { background-position: 0 -3056px; }
.f16 .ro { background-position: 0 -3072px; }
.f16 .rs { background-position: 0 -3088px; }
.f16 .ru { background-position: 0 -3104px; }
.f16 .rw { background-position: 0 -3120px; }
.f16 .sa { background-position: 0 -3136px; }
.f16 .sb { background-position: 0 -3152px; }
.f16 .sc { background-position: 0 -3168px; }
.f16 .sd { background-position: 0 -3184px; }
.f16 .se { background-position: 0 -3200px; }
.f16 .sg { background-position: 0 -3216px; }
.f16 .si { background-position: 0 -3232px; }
.f16 .sk { background-position: 0 -3248px; }
.f16 .sl { background-position: 0 -3264px; }
.f16 .sm { background-position: 0 -3280px; }
.f16 .sn { background-position: 0 -3296px; }
.f16 .so { background-position: 0 -3312px; }
.f16 .sr { background-position: 0 -3328px; }
.f16 .st { background-position: 0 -3344px; }
.f16 .sv { background-position: 0 -3360px; }
.f16 .sy { background-position: 0 -3376px; }
.f16 .sz { background-position: 0 -3392px; }
.f16 .tc { background-position: 0 -3408px; }
.f16 .td { background-position: 0 -3424px; }
.f16 .tg { background-position: 0 -3440px; }
.f16 .th { background-position: 0 -3456px; }
.f16 .tj { background-position: 0 -3472px; }
.f16 .tl { background-position: 0 -3488px; }
.f16 .tm { background-position: 0 -3504px; }
.f16 .tn { background-position: 0 -3520px; }
.f16 .to { background-position: 0 -3536px; }
.f16 .tr { background-position: 0 -3552px; }
.f16 .tt { background-position: 0 -3568px; }
.f16 .tv { background-position: 0 -3584px; }
.f16 .tw { background-position: 0 -3600px; }
.f16 .tz { background-position: 0 -3616px; }
.f16 .ua { background-position: 0 -3632px; }
.f16 .ug { background-position: 0 -3648px; }
.f16 .us { background-position: 0 -3664px; }
.f16 .uy { background-position: 0 -3680px; }
.f16 .uz { background-position: 0 -3696px; }
.f16 .va { background-position: 0 -3712px; }
.f16 .vc { background-position: 0 -3728px; }
.f16 .ve { background-position: 0 -3744px; }
.f16 .vg { background-position: 0 -3760px; }
.f16 .vi { background-position: 0 -3776px; }
.f16 .vn { background-position: 0 -3792px; }
.f16 .vu { background-position: 0 -3808px; }
.f16 .ws { background-position: 0 -3824px; }
.f16 .ye { background-position: 0 -3840px; }
.f16 .za { background-position: 0 -3856px; }
.f16 .zm { background-position: 0 -3872px; }
.f16 .zw { background-position: 0 -3888px; }

.margin0 {
	margin-left: 0px;
	margin-right: 0px;
}

/* 404 screen */

.error {
	border: 1px solid #dddedf;
	margin-bottom: 50px;
	background: #fff;
	padding: 40px;
	min-height: 400px;
}

.error h1 {
	margin-bottom: 20px !important;
	font-size: 48px !important;
	text-transform: none !important;
	color: #002055 !important;
	margin-top: 0px;
}

.error h1 .fa {
	padding-right: 20px;
}

.error h2 {
	text-transform: none;
}

/* IE Fixes */

input.datepicker-arrival[type=text]::-ms-clear { 
	display: none; 
}

input.datepicker-arrival::-ms-clear { 
	display: none; 
}

input.datepicker-departure[type=text]::-ms-clear { 
	display: none; 
}

input.datepicker-departure::-ms-clear { 
	display: none; 
}

/*===========================================
============= Media Queries ============
============================================*/

@media only screen and (max-width : 1280px) {
	.booknow {
		display: none;
	}

	.map {
		background-size: 80%;
	}
}


@media only screen and (min-width : 1200px) {
	.container {
		width: 1200px;
	}

	.home-slider .flex-control-nav {
		bottom: 100px;
	}

	
}


@media only screen and (min-width : 1400px) {

	.home-slider .flex-control-nav {
		bottom: 100px;
	}
}

@media only screen and (max-width : 1199px) {
	.trip-advisor-reviews h2 {
		font-size: 48px;
	}
	.nav>li>a {
		padding: 10px 8px;
	}
	
	.nav a {
		font-size: 14px;
	}

	.nav .divider img {
		padding-top: 15px;
	}

	.home-slider .flex-control-nav {
		bottom: 100px;
	}

	.featured2 {
		height: auto;
	}

	.featured1 {
		height: 380px;
	}

	.featured-label.large-label {
		bottom: 0px;
		top: auto;
		width: 100%;
		height: auto;
	}

	.featured-label h5 a {
		font-size: 22px !important;
	}

	.listing-container .main-price {
		font-size: 24px;
	}

	.listing-container .currency {
		font-size: 20px;
	}

	.tour-info {
		display: none;
	}

	.sidebar {
		margin-bottom: 0 !important;
	}

	.slider-val {
		font-size: 12px;
	}
	
}

@media only screen and (max-width : 1024px) {

	.ta-badge {
		padding-top: 20px;
	}

	.trip {
		height: 270px;
	}

	p.total {
    	padding-right: 25px;
    }

    .cart-listing-container {
    	height: 149px;
    }

    .cart-listing-details-container {
    	height: 147px;
    }

    .checkout-heading {
		font-size: 32px;
	}

	#tourTabs li a {
		font-size: 24px !important;
	}

	/** Tour Details **/

    #Reviews {
		height: auto;
	}

	#included.tab-pane {
		height: auto;
	}

	#tour-description.tab-pane {
		height: auto;
	}

	.book-content h4 {
    	font-size: 17px;
	}

	.tile-listing-container .main-price {
		font-size: 28px !important;
	}

	.person-select {
		width: 23% !important; 
	}

	#booknow.show {
		display: none;
	}

	.reviewgraph-content {
    	padding-left: 10px;
    	padding-right: 10px;
	}

	.cta-btn {
		margin-top: 5px;
	}

	.added-cta {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media only screen and (max-width: 990px) {
	.map {
		margin-top: 0px;
	}
	
	.filter-heading {
		cursor: pointer;
	}

	.care {
		display: none;
	}

	.trip {
		display: none;
	}

	.sidebar-video {
		display: none;
	}

	.filter-wrapper {
		width: 100%;
	}

	.tile-listing-container .main-price {
		font-size: 28px;
	}

	.slider-val {
		font-size: 14px !important;
	}

	.filter-wrapper .price-range {
		text-align: center;
	}

	.filter-wrapper .slider.slider-horizontal {
		width: 80% !important;
		text-align: center;
	}

	.border-sm {
		border-left: 1px solid #163D8F;
	}

	.cta-btn {
		margin-top: 100px;
	}

	.added-cta {
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media only screen and (min-width: 769px) and (max-width: 990px) {
	.tile-listing-container, .listing-details-container{
		height: 180px;
	}

} 

@media only screen and (max-width : 980px) {
	.trip-advisor-reviews h2 {
		font-size: 48px;
	}

    .footer-name {
		margin-bottom: 10px;
	}

	.footer-email {
		margin-bottom: 10px;
	}

	.newsletter {
		padding: 30px;
	}

	.footer-social {
		margin-top: 20px;
	}

	.btn.blue-btn {
		background: #47b6fb !important;
	}

	.mm-menu .cart-btn {
		display: none !important;
	}

	/** Customer Reviews **/

	.sidebar {
		display: inline-block;
        margin-top: 20px;
		width: 100% !important;
	}

	ul.activity-list {
    	width: 80%;
    }

    .review {
    	padding-left: 30px;
    	padding-right: 30px;
    }

	.top-sell h6 {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.trip {
		display: none;
	}

	.top-tours {
		margin-right: 10px;
	}
	
	.affix {
        position: static;
    }

    
    .tour-price p {
    	margin-top: 20px;
    }

    .grand-total-amount h2 {
    	font-size: 21px;
    }

    p.total {
    	padding-right: 25px;
    }


	/** Checkout **/

	.checkout-care {
		display: none;
	}


	.home-slider .flex-control-nav {
		bottom: 110px;
	}

	.checkout-heading {
		font-size: 35px;
	}

	/** Tour Details **/

	#tourTabs li a {
    	font-size: 24px !important;
    }
	
	h4.describe-title {
		margin-top: 20px !important;
	}

	.book-content h4 {
    	font-size: 24px;
	}

	.person-select {
		width: 30% !important; 
	}

	.listing-container {
		height: 220px;
	}
}

@media only screen and (max-width: 991px) {

	.lower-header {
		display: none;
	}

	.menu-btn {
		display: block;
	}


	.featured2 {
		overflow: visible;
	}
	
	.featured1 {
		margin-bottom: 20px;
		height: auto;
	}

	.featured2 .featured-label {
		position: relative !important;
		bottom: 0px;
	}

	.featured-label.large-label {
		bottom: 0px;
		top: auto;
		width: 100%;
		height: auto;
	}

	.rating h2, .num-reviews h2 {
		font-size:  52px;
	}

	.rating p, .num-reviews p {
		font-size: 20px !important;
	}

}

@media only screen and (max-width: 768px) {

	.logo {
		width: 205px;
		padding-top: 2px;
	}

	.checkout-logo-wrap img{
		display: block; 
		margin: 0 auto;
	}

	.checkout-header p{
		text-align: center;
		float:none;
	}

	.phone-numbers{
		border-right:none;
		margin-bottom:20px;
	}
	.main-featured, .main-featured img, .featured-items, .featured-items img {
		max-width: 100%;
		width: 100% !important;
	}

	.reason {
		margin-bottom: 60px;
	}

	.heading-flourish {
		display: none;
	}

	.ta {
		height: 120px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}

	.ta-badge {
		padding-top: 0px;
	}

	.ta-badge img{
		height: 120px !important;
		width: 151px !important;
	}

	.trip-advisor {
		padding: 30px 15px 60px 15px;
	}

	.trip-advisor-reviews {
		padding-left: 0;
		padding-right: 0;
	}
	
	.trip-advisor-reviews .ta-badge {
		width: 100%;
	}

	.trip-advisor-reviews .num-reviews,.trip-advisor-reviews .average-rating {
		float: none;
	}

	.trip-advisor-reviews .average-rating .star-lrg {
		width: 100%;
	}

	.trip-advisor-reviews h2 {
		font-size: 42px;
	}

	.ta p {
		font-size: 14px;
	}

	
	.social {
		display: none;
	}

    .content {
        float:none !important;
        margin-left:0;
    } 

    .affix {
        position: static;
    }

    .newsletter {
    	padding: 40px 0;
    }

    .newsletter input:first-child {
		margin-bottom: 10px;
    }

    .newsletter .btn {
    	width: 100%;
    }

    .featured-tour img {
    	width: 100%;
    }

    .featured-tour .featured-label {
    	bottom: 0 !important;
    }

	.booknow {
		display: none !important;
	}
	
	.reason img {
		width: 100%;
	}

	.play-btn {
		width: 72px;
	}
	
	.flex-prev, .flex-next {
		width: 48px !important;
		height: 56px !important;
	}

	.top-header {
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
		-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
		-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
	}

	.find-tour {
		padding: 20px 20px;
		position: relative;
		margin-top: 10px;
		background: #1a487a;;
	}

	.home-slider .flex-control-nav {
		bottom: 20px;
	}


	.featured1 {
		margin-bottom: 20px;
	}

	.featured2 img{
		width: 100%;
	}


	.tour-price p {
		text-align: left;
	}

	.listing-img {
		margin: 15px 
	}

	.featured-label h5 a {
		font-size: 38px !important;
		padding-bottom: 0px;
	}

	.featured-label h5 {
		margin-top: 10px;
		margin-bottom: 10px !important;
	}
	
	.map {
    	margin-top: 20px;
		background-size: 80%;	
	}

	p.tour-description {
		display: none;
	}
	
	.listing-video {
		padding: 6px;
	}

	.listing-video img {
		width: 25px;
		height: 25px;
	}

	.listing-rating {
		font-size: 12px;
	}

	p.tour-info {
		position: static;
	}

	.price-wrapper {
		position: static;
		bottom: auto;
		float: right;
	}

	.listing-price-container {
		border-left: 0;
	}

	.added-cta {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.sidebar-video {
		display: none;
	}

	.tile-listing-container {
		height: auto;
		background: #fff;
	}

	.tile-listing-container .listing-rating {
		font-size: 12px !important;
	}

	.tile-listing-container .listing-img img {
		height: auto;
	}

	.tile-listing-container .listing-details-container {
		height: auto;
	}

	.btn.cta-btn {
		display: block;
	}

	/** Tour Details **/

	#included.tab-pane {
		height: auto;
	}

	#tour-description.tab-pane {
		height: auto;
	}

	h4.describe-title {
		margin-top: 20px !important;
	}

	#Reviews {
		padding-left: 40px;
		height: auto;
		margin-bottom: 0px;
	}

	#tourTabs li a {
    	font-size: 24px !important;
    }

    .person-select {
		width: 30% !important; 
	}

	.start-time {
		padding-top: 20px;
	}

	.group-max {
		padding-top: 20px;
	}

	.num-reviews {
		border: 0 !important;
	}

	.trip-badge {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 767px) {
	body:before { 
		content: 'tablet'; 
		display: none; 
	}

	.tour-info {
		display: none;
	}

	p.final-amount {
		margin-top: 0px;
	}

	.rating {
		padding-top: 10px;
	}

	.reviews {
		text-align: left;
	}
	
	.listing-container {
		height: auto
	}

	.listing-price-container {
		float: right;
		height: auto;
	}

	.listing-details-container {
		height: auto;
	}

	.listing-rating {
	 	width: auto; 
		text-align: left;
		float: left;
	}

	.listing-price {
		position: static;
		float: right;
		margin-top: -10px;
	}

	.sidebar-video {
		display: none;
	}

	.slider-play {
		width: 60px;
		height: 60px;
		margin-left: -30px;
		margin-top: -30px;
	}

	/** Tour Details **/

	#Reviews {
		padding-left: 0px;
		padding-right: 0px;
	}

	.featured-tours .stamp {
		right: -100px;
	}

	.person-select {
		width: 30% !important; 
	}

	.rating h2, .num-reviews h2 {
		font-size:  48px !important;
	}

}

@media only screen and (max-width: 640px) {
	
	.border-sm {
		width: 50%;
	}

	.target-640 {
		width: 50%;
	}

	.cta-btn {
		margin-top: 30px;
	}
}

@media only screen and (max-width: 617px) {
	
	.find-tour input {
		display: block;
		width: 100%;
		margin-bottom: 8px;
	}
	

	.find-tour .btn {
		width: 100%;
		margin-left: 0px;
	}
}


@media only screen and (max-width: 580px) {
	.listing-label.likely {
		font-size: 12px;
		padding-right: 10px;
		width: 80px;
	}

	.listing-label.likely:after {
		right: -20px;
	}

	.listing-label {
		top: 100px;
	}

	.listing-label.likely {
		top: 90px;
	}
}

@media only screen and (max-width: 480px) {

	.featured-label.large-label {
		bottom: 0 !important;
		top: auto !important;
	 	width: 100%;

	}

	.featured-label.large-label p {
		display: none;
	}

	.choose {
		padding-top: 30px;
	}
	.choose h1 {
		font-size: 38px;
	}
	
	.choose h1 {
		font-size: 38px;
	}

	.top-header .cart-btn {
		display: none;
	}

	.hero-text {
		display: none;
	}

	.logo {
    	width: 170px;
    	padding-top: 5px;
	}

	.mm-menu .cart-btn {
		display: inline-block !important;
	}

	/* Customer Reviews Page */
	
	.review {
		padding-left: 10px;
		padding-right: 10px;
	}

	p.review-text {
		padding-left: 25px;
		padding-right: 25px;
	}

	.inner-page-content h1 {
		font-size: 35px;
	}

	.shopping-cart h1 {
		font-size: 26px;
	}

	.shopping-cart h1 img {
		width: 60px;
	}

	ul.activity-list {
		width: 90%;
	}

	p.reviewer {
		padding-left: 25px;
	}

	.activities {
		font-size: 16px !important;
	}

	span.rating-sort {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.trip {
		display: none;
		height: auto;
	}

	.affix {
        position: static;
    }

    .review-background {
    	padding: 30px 20px 80px 20px;
    }

    .review-text {
    	padding-top: 0px;
    }

    .divide {
    	display: none;
    }

    img.quotes-top {
    	display: none;
    }

    img.quotes-bottom {
    	display: none;
    }

    tr.review {
    	padding-bottom: 10px;
    	padding-top: 30px;
    }

    p.reviewer {
    	border-bottom: 1px solid #ddd;
    }

    table#reviews-table {
    	display: block !important;
    	border-spacing: 0px;
		-webkit-margin-start: auto;
		-webkit-margin-end: auto;
		width: 100%;
		border-collapse: collapse;
    }

    table#reviews-table tbody {
		display: block !important;
    	border-spacing: 0px;
		-webkit-margin-start: auto;
		-webkit-margin-end: auto;
		width: 100%;
		border-collapse: collapse;
	}

	table#reviews-table tr {
		display: block !important;
    	border-spacing: 0px;
		-webkit-margin-start: auto;
		-webkit-margin-end: auto;
		width: 100%;
		border-collapse: collapse;
	}

	 table#reviews-table tbody tr td, table#reviews-table tr td, table#reviews-table tfoot tr td {
		display: block !important;
    	border-spacing: 0px;
		-webkit-margin-start: auto;
		-webkit-margin-end: auto;
		width: 100%;
		border-collapse: collapse;
	}

	.border-sm {
		width: 100%;
	}

	.target-640 {
		width: 100%;
	}

	/** Tour Details **/

	#tourTabs li a {
    	font-size: 13px;
    }

	#included.tab-pane {
		height: auto;
	}

	#tour-description.tab-pane {
		height: auto;
	}

	.reviews-summary {
		margin-top: 0px;
	}

	h4.describe-title {
		margin-top: 20px !important;
	}

	#Reviews {
		padding: 0px;
		height: auto;
		margin-bottom: 50px !important;
	}

	.person-select {
		width: 29% !important; 
	}

	.start-time {
		padding-top: 20px;
	}

	.group-max {
		padding-top: 20px;
	}

	.tab-content {
		padding: 30px;
	}


    /** Cart **/

    .cart-listing-details-container {
		border-right: 0px;
	}

	.grand-total-amount {
    	padding-right: 15px;
	}

	.grand-total-amount h2 {
    	margin-top: 20px !important;
    	padding-right: 100px !important;
	}

	p.total {
		margin-top: 10px;
		padding-left: 0px !important;
	}

	.tour-price p {
		margin-top: 10px;
		margin-bottom: 0px !important;
	}

	p.final-amount {
		margin-top: 0px;
	}

	.cart-listing-details-container {
		height: auto;
		text-align: left;
	}

	.cart-listing-price-container {
		text-align: left;
	}

	.total {
		text-align: right !important;
		float: right;
	}

	.tour-price {
		float: right;
	}
	
	.remove {
		float: left;
		padding-top: 25px;
	}

	.grand-total-amount h2 {
		float: left !important;
		padding-left: 20px;
	}

	.datepicker {
		width: 280px;
	}

	h3 {
		font-size: 30px;
	}

	h3 img {
		width: 40px;
	}
	
	.trip-advisor-reviews .ta-badge {
		width: 100%;
		text-align: center;
	}

	.ta {
		height: auto;
		width: 100%;
		text-align: center;
		border-right: none;
	}

	.trip-advisor-reviews .num-reviews, .trip-advisor-reviews .average-rating {
		float: none;
	}

	.home-slider .flex-control-nav {
		bottom: 10px;
	}

	.trip-advisor-reviews .average-rating .star-lrg {
		width: 180px;
	}

	.trip-advisor-reviews h2 {
		font-size: 52px;
	}

	.ta p {
		font-size: 18px;
	}

	.cart-listing-container {
		background: #ffffff;
		height: auto !important;
	}

	.featured1 {
		margin-bottom: 20px;
	}

	/** Checkout **/
	
	.checkout-heading {
		font-size: 34px;
	}

	p.final-amount {
		margin-top: 0px;
	}

	.listing-video {
		display: none;
	}


	.listing-label {
		top: 100px;
	}

	.listing-label.likely {
		top: 90px;
	}
	
	.listing-label.likely:after {
		border-width: 23px 12px
	}

	.listing-container .col-md-4.paddingl0 {
		padding-right: 0;
	}
}

@media only screen and (max-width: 440px) {
	.listing-price-container {
		width: 100%;
	}

	/*.tile-listing-container .listing-img {
		display: none;
	}*/

	.tile-listing-container .listing-details-container  {
		width: 100%;
	}

	.filter-wrapper .slider.slider-horizontal {
		width: 50% !important;
		text-align: center;
	}
}

@media only screen and (max-width: 360px) {
	/** Tour Details **/

	#included.tab-pane {
		height: auto;
	}

	#tour-description.tab-pane {
		height: auto;
	}

	/** Tour Details **/

    #Reviews {
		height: auto;
		margin-bottom: 50px;
	}

	#tourTabs li a {
		font-size: 14px !important;
	}

	.person-select {
		width: 26% !important; 
	}
}
	


@media only screen and (max-width: 320px) {
	.cart-listing-details-container {
		height: 140px; 
	}

	.cart-listing-container {
		height: 410px; 
	}

	.btn.navy-btn {
		margin-bottom: 10px;
	}

	.grand-total-amount h2 {
    	margin-top: 20px !important;
    	padding-right: 30px !important;
	}

	.tour-price p {
    	margin-top: 25px;
	}

	.filter-heading h5 {
		font-size: 22px !important;
	}

	.tour-listing-content-horizontal h2 {
		font-size: 24px !important;
	}

	.tour-listing-content-tiles h2 {
		font-size: 24px !important;
	}

	.tour-listing-content h2 {
		font-size: 24px !important;
	}

	.btn.cta-btn {
		display: block;
	}

	/** Tour Details **/

    #Reviews {
		height: auto;
		margin-bottom: 70px;
	}

	#included.tab-pane {
		height: auto;
	}

	#tour-description.tab-pane {
		height: auto;
	}

	#tourTabs li a {
		font-size: 13px !important;
	}
}


/** New Styles **/
.intro {
	margin-top: 20px;
	font-size: 18px;
}

.landing-heading {
	width: 100%;
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	z-index: 10;
	padding: 20px;
}

.landing-heading h1 {
	color: #ffffff;
	font-size: 52px;
	font-family: 'Bodoni';
	margin: 0;
}

.landing-heading p {
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;

}

h2.border-right {
	padding-right: 58px;
	background: url(../images/border-right.jpg) no-repeat right center;
	display: inline-block;
	text-transform: none;
	font-weight: 600;
	color: #002055;
	font-size: 28px;
	margin-top: 0;
}

.listing-video {
	color: #ffffff;
}

.listing-video:hover {
	color: #ffffff;
}

.listing-play {
	width: 20px;
	margin-left: 4px;
}

.sidebar-tripadvisor {
	text-align: center;
}

.trip h6 {
	text-align: center;
	font-size: 26px;
	font-weight: 700;
	font-family: 'Bodoni';
	color: #163d8f;
	text-transform: uppercase;
	margin-bottom: 3px;
}

.trip p {
	margin-bottom: 20px;
	line-height: 1.2em;
}

.trip p a {
	text-decoration: underline;
}

.trip-percentage {
	color: #589442;
	font-family: 'Bodoni', 'Georgia', serif;
	font-size: 20px !important;
	font-weight: bold;
	margin-bottom: 8px !important;
	text-align: center !important;
}

.trip-thumb {
	width: 14px;
}

.city-wonders {
	width: 98px;
	margin-top: -8px;
}

.date-selection {
	margin-top: 20px;
	padding: 20px;
	background: #ecf5fb;
	color: #002055;
	border: 1px solid #cce4f4;
	display: none;
}

.date-selection p {
	margin-bottom: 0;
}

.arrival-selection, .departure-selection {
	font-weight: 600;
}

.highlights-list {
	list-style-type: none;
	padding-left: 0;
  	columns: 2;
  	-webkit-columns: 2;
  	-moz-columns: 2;
}

.highlights-list li {
	background: url(../images/tick.png) no-repeat left top 3px;
	padding-left: 32px;
	font-size: 22px;
	margin-bottom: 20px;
}

.highlights {
	margin-top: 50px;
}

#tourTabs {
	margin-top: 20px;
}

#tourTabs li a {
	padding: 10px;
}

.rating { 
	height: 175px;
	padding-top: 5px;
}

.customer-rating {
	padding-left: 5px;
}

.rating h2 {
	font-size: 72px;
	font-family: 'Bodoni';
}

.rating p {
	text-transform: uppercase;
	color: #686868;
	font-size: 24px;
}

.num-reviews h2 {
	color: #252525;
	font-family: 'Bodoni';
	font-size: 72px;
	font-weight: 700;
}

.num-reviews {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	height: 175px;
	padding-top: 5px;
}

.num-reviews p {
	text-transform: uppercase;
	color: #686868;
	font-size: 24px;
}

.total-reviews, .star-rating {
	padding-right: 5px;
	border-right: 1px solid #ddd;
}

.ta-info {
	min-height: 60px;
}

.ta-info p {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 0;
}

.sidebar-tripadvisor .col-md-4 {
	padding-left: 0;
	padding-right: 0;
}

.trip-star {
	width: 60px;
	margin-bottom: 8px;
	margin-top: 10px;
}

.number-reviews {
	font-family: 'Bodoni', 'Georgia', serif;
	font-size: 20px !important;
	font-weight: bold;
	margin-bottom: 8px !important;
}

.details-slider {
	height: 380px;
	overflow: hidden;
}

.flexslider-home {
	height: 700px;
	overflow: hidden;
}

.landing-slider {
	height: ;
}


/*** Our Guides ***/
.large-heading {
	text-align: center;
	color: #fff;
	background: #175598;
	padding: 50px 0;
}

.large-heading h1 {
	font-family: 'Georgia', serif;
	font-size: 40px;
}

.large-heading p {
	font-size: 16px;
}

.guide {
	padding: 50px 0;
	border-bottom: 1px solid #efeeee;
}

.guide h2 {
	font-size: 32px;
	color: #252525;
	text-transform: none;
}

.guide-image {
 	border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;	
}


/** Photo Gallery **/
.gallery-wrapper {
	background: url('../images/gallery-bg.jpg') no-repeat center top;
	padding: 40px 0 80px 0;
}

.gallery-wrapper h1 {
	font-family: 'Georgia', serif;
	font-size: 40px;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 20px;
}


#gallery-carousel .slides {
	cursor: pointer;
}



#gallery-carousel .slides > li {
	margin: 1px;

}

.image-caption {
	position: absolute;
	bottom: 0;
	color: #ffffff;
	background: rgba(0,0,0,0.6);
	padding: 20px;
	font-style: italic;
	max-width: 100%;
}

.image-caption p {
	max-width: 100%;
}